.about-header-block {
    background: $secondary-lightblue;

    h1 {
        font-size: $services-heading;

        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 0.7rem;
            width: 5.5%;
            border-bottom: 2px solid $primary-blue;
            position: absolute;
        }
    }

    p {
        font-size: $standard-size;
    }

    h1,
    p {
        color: $primary-blue;
    }
}

.about-bottom-content {
    .content-holder {

        h3 {
            color: $primary-blue;
            @apply mb-3;
        }
        
        .border {
            width: 100%;
            height: 4px;
            background-color: $primary-blue;
        }

        img {
            position: absolute;
            left: 20px;
            bottom: 8rem;
        }
    }
    p {
        @apply pt-3;
        font-size: 1.125rem;
        color: $primary-blue;
        line-height: 1.5;
        width: 100%;
        max-width: 90%;
    }
}

.ive-care {
    background: $primary-blue;

    img {
        top: -9.8rem;
        right: 0;
    }

    h1 {
        font-size: $services-heading;

        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 0.85rem;
            width: 5.5%;
            border-bottom: 2px solid $secondary-turquoise;
            position: absolute;
        }
    }

    p {
        font-size: $standard-size;
        line-height: 1.5;
    }

    h1,
    p {
        color: white;
    }
}

.care-single-col {
    .content-holder {
        border-top: 4px solid $primary-blue;

        p {
            @apply pt-2;
            font-size: $services-text;
            color: $primary-blue;
            line-height: 1.5;
        }
    }
}

.ive-switchable-cols {
    h2 {
        font-size: $heading-1;
        line-height: 1.1;
        color: $primary-blue;
    }
    p {
        color: $primary-blue;
        font-size: $standard-size;
        line-height: 1.5;
    }

    .position-arrows-left {
        .arrows {
            img {
                left: -20px;
                top: -50px;
            }
        }
    }

    .position-arrows-right {
        .arrows {
            img {
                right: -20px;
                bottom: -50px;
            }
        }
    }
}

.executive-team {
    h3 {
        font-size: 1.125rem;
        @apply mb-2;
        color: $primary-blue;
    }

    span,
    p {
        color: $primary-blue;
        font-size: 0.875rem;
    }

    p {
        font-family: $primary-light;
        color: black;
    }

    .decorative-holder {
        img {
            top: 17.5rem;
            z-index: -1;
        }
    }

    .ive-placeholder {
        margin-top: 37px;
    }


    .exec-image {
        img {
            padding-bottom: 8px;
        }
    }

    .executive {
        .exec-image {
            margin: 0 16px;

            &:nth-child(1){
                margin-left: 0;
                margin-right: 16px;
            }
        }

        .exec-bg {
            height: 197px;
        }
    }

    .second-level-execs {
        .executive {
            &:last-child {
                .exec-image {
                    margin-right: 0;
                }
            }
        }
    }
}

.more-ive-section {
    
    .more-services-section {
        background: #f2f2f2 !important;

        h3 {
            color: $primary-blue;
            font-size: 56px !important;
        }
    }
    
    .transform-arrow img {
        transform: rotate(0deg) !important;
        width: 5% !important;
    }
    
    .more-services-item {
        .colored-section {
            h3 {
                padding-bottom: 3.5rem !important;
            }
        }
    }

    .menu-items {
        a{
            &:first-child {
                background-color: $primary-blue;
                color: white;

                p {
                    padding-left: 1.5rem;
                    position: relative;

                    &::before {
                        content: '';
                        background-image: url('../images/white-arrow.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        margin-left: -23px;
                        margin-top: 1px;
                    }
                }
            }
            &:nth-child(2) {
                background-color: $tints-blue;
                color: $primary-blue;

                p {
                    padding-left: 1.5rem;
                    position: relative;

                    &::before {
                        content: '';
                        background-image: url('../images/darkblue-arrow.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        margin-left: -23px;
                        margin-top: 1px;
                    }
                }
            }
            &:last-child {
                background-color: $secondary-lightblue;
                color: $primary-blue;

                p {
                    padding-left: 1.5rem;
                    position: relative;

                    &::before {
                        content: '';
                        background-image: url('../images/darkblue-arrow.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 17px;
                        height: 17px;
                        margin-left: -23px;
                        margin-top: 1px;
                    }
                }
            }
        }
    }
}

.page-template-page_about {

    .darkblue-block {
        padding-bottom: 2.8rem;

        .image-section {
            img {
                width: 100% !important;
            }
        }
    }

    .sub-services-item {
        .transform-arrow {
            h3 {
                padding-left: 0;
                &::before {
                    content: '';
                    background-image: url(../images/darkblue-arrow.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 15px;
                    height: 15px;
                    float: left;
                    margin-top: 7px;
                    margin-right: 7px;
                }
            }
        }
    }

    .ive-care-informational-items {
        .sub-services-content {
            font-family: $primary-light;
            font-size: 1rem;
        }
    
        .logos {
            img {
                max-width: 30%;
                height: 30%;
            }
        }
    
        .placeholder-item {
            margin-top: 2.2rem;
    
            .transform-arrow {
                display: none;
            }
        }
    }
    
    .ive-waymakers {
        .decorative-holder {
            img {
                margin-top: -8.5rem;
            }
        }
    }

    &.page-parent {
        .ive-switchable-columns {
            padding-top: 0;
            padding-bottom: 8rem;

            @media(min-width: 1100px) {
                .no-adjustment {
                    div {
                       &.lg\:w-2\/5 {
                           width: 33.333333%;
                       } 
                    }
                }
            }

            .content-holder img {
                position: absolute;
                left: 20px;
                bottom: -2rem;
            }
        }
    }
    
    &.page-child {

        .lightblue-border .bf-holder {
            border-top: 4px solid $primary-blue !important;
            width: 80%;
        }

        .bf-holder {
            border-top: 4px solid $primary-blue !important;
            width: 80%;
        }

        .ive-switchable-columns {

            // .ive-care-adjust {
            //     .add-padding {
            //         margin-right: 0;
            //     }
            // }

            .no-adjustment {
                .mx-auto {
                    margin-right: auto;
                    margin-left: 0;
                }
            }
        }

        .ive-care-informational-items {
            padding-top: 0;

            .sub-service-items .sub-services-item p {
                font-size: 1rem;
                font-family: "BuenosAires-Light", sans-serif;
                color: black;
                font-weight: 300;
                line-height: 1.5;
                padding-bottom: 0;
            }

            @media (min-width: 1100px) {
                .sub-service-items .sub-services-item p {
                    width: 100%;
                    max-width: 90%;
                }
            }

            .sub-services-content {
                ul {
                    font-family: $primary-light;
                    font-size: 1rem;
                    list-style-type: disc;
                    padding-left: 1rem;
                    
                    @media(min-width: 1100px) {
                        width: 100%;
                        max-width: 81%;
                    }

                    li {
                        line-height: 1.5;
                        padding-bottom: 1rem;
                    }
                }
            }
        }

        .single-about-content {
            img {
                margin-top: -11.5rem;
            }
        }

        .single-about-items-grid {

            .top-width {
                position: relative;

                &:nth-child(1) {
                    .single-about-item {
                        &::before {
                            content: '';
                            background-image: url(../images/about-single-1.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: -12px;
                            left: -13px;
                        }
                    }
                }

                &:nth-child(2) {
                    .single-about-item {
                        margin-right: 0;

                        &::after {
                            content: '';
                            background-image: url(../images/about-single.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: -12px;
                            right: -13px;
                        }
                    }
                }

                &:nth-child(3) {
                    .single-about-item {
                        &::before {
                            content: '';
                            background-image: url(../images/about-single-3.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            bottom: 8px;
                            left: -13px;
                        }
                    }
                }

                &:nth-child(4) {
                    .single-about-item {
                        margin-right: 0;

                        &::after {
                            content: '';
                            background-image: url(../images/about-single-2.svg);
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            bottom: 8px;
                            right: -13px;
                        }
                    }
                }
            }

            .single-about-item {
                padding-top: 32px;
                padding-left: 34px;
                padding-right: 36px;
                background-color: $tints-grey;
                border: 1px solid #031D51;
                height: 224px;

                span {
                    color: $primary-blue;
                    padding-bottom: 1rem;
                    font-size: 24px;
                }

                p {
                    font-family: $primary-light;
                    font-size: 1rem;
                    line-height: 1.5;
                    color: black;
                }

                margin-right: 1rem;
                margin-bottom: 1rem;               
            }
        }
    }
}