.latest-blog-holder {
    height: 389px;
    background-color: $tints-blue;
    color: $primary-blue;

    span {
        font-size: $standard-size;
    }

    p {
        font-size: $news-featured;
    }

    a {
        color: $primary-blue;
    }
}

.blog-page {
    h3 {
        font-size: $blog-heading;
        color: $primary-blue;
    }

    .news-block-post {
        border-right: 2rem solid white;
    }

    .blog-header {
        background-color: $primary-blue;

        h1 {
            font-size: $blog-heading;

            &::after {
                content: '';
                display: block;
                margin: 0 auto;
                margin: 1rem 0;
                width: 6%;
                border-bottom: 2px solid white;
                position: absolute;
            }
        }

        p {
            font-size: $standard-size;
            line-height: 1.5;
            padding-top: 1.5rem;
        }

        img {
            right: 0;
            top: -9.7rem;
        }
    }

    .post-1 {
        display: none;
    }
}

.news-grid {
    h3 {
        font-size: $news-featured;
        @apply mb-0;
    }
}

.cover-image {
    height: 160px;
}

.misha_loadmore {
    font-weight: bold;
    font-size: $learn-more;
    color: $primary-blue;

    &::after {
        content: '';
        background-image: url('../images/blog-load-more.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 17px;
        height: 17px;
        margin-left: 6px;
        margin-top: 5px;
    } 
}
.article {
    .article-header {
        background-color: $primary-blue;
        padding-bottom: 20rem;
    
        h1 {
            font-size: $blog-heading;
            line-height: 1.2;
        }

        .date {
            color: $secondary-turquoise;
            font-size: $standard-size;
        }

        img {
            z-index: 1;
            right: -14rem;
            top: -5rem;
            width: 43%;
        }
    }

    .article-holder {
        margin-top: -26rem;
        position: relative;
        z-index: 2;

        img.article-image {
            width: 100%;
        }

        img {
            z-index: -1;
            right: -5rem;
            top: -7.2rem;
        }
    }

    .article-content {
        blockquote {
            border-top: 3px solid $primary-blue;

            p {
                padding-top: 1rem;
            }
        }
        strong {
            color: $primary-blue;
            font-size: $services-text;
        }

        p {
            font-family: $primary-light;
            font-size: $standard-size;
        }

        strong,
        p {
            line-height: 1.5;
        }

        ul {
            padding-left: 1rem;

            li {
                font-family: $primary-light;
                font-size: $standard-size;
                list-style-type: disc;
            }
        }
    }
}

.navigation {
    border-top: 1px solid $border-color;
}



.nav-box {
    height: 110px;
    width: calc(50% - 76px);
    &.previous{
        margin-right: 30px;
        //.arrow-link{
        //    text-align: left;
        //}
    }
    &.next{
        margin-left: 30px;
        //.arrow-link{
        //    text-align: right;
        //}
    }
    .arrow-link{
        display:block;
        width:60px;

        &.prev{

        }
        &.next{

        }
        img {
            transform: translateY(2.7rem);
        }
    }
    .prev-image, .next-image{
        width: 160px;
    }


    .before-link,
    .after-link {
        width: calc(100% - 220px);
        background-color: $tints-blue;

        p {
            font-size: 0.875rem;
            color: $primary-blue;
        }
    }

    .before-link {

        p {
            text-align: left;
        }
    }

    .after-link {
        p {
            text-align: right;
        }
    }
    .previous {
        img {
            margin-right: 3.6rem;
        }
    }

    .next {
        img {
            margin-left: 2.4rem;
        }
    }

}

.post-template-single-lightblue {
    .article-header {
        background-color: $tints-blue;

        h1 {
            font-size: $blog-heading;
            line-height: 1.2;
            color: $primary-blue
        }
    
        .date {
            color: $primary-blue;
        }
    }
}

#grey-arrow {
    fill: #f2f2f2 !important;
}

#grey-arrow {
    &:hover {
        fill: $primary-blue;
    }
}