// 
// 
// Common Block Elements  
// 
// 

// Use .hidden-admin to stop elements appearing in dashboard
.acf-block-preview .hidden-admin {
    display: none !important;
}

// .wp-block-group.alignfull {
//     @apply py-5;
// }

// @screen md {
//     .wp-block-group.alignfull {
//         @apply py-8;
//     }
// }

// @screen lg {
//     .wp-block-group.alignfull {
//         @apply py-10;
//     }
// }

.alignwide {
    @apply w-full mx-auto;

    padding-right: 30px; // Tailwind padding in config
    padding-left: 30px; // Tailwind padding in config
    @screen sm {
      max-width: theme('screens.sm');
    }
    @screen md {
      max-width: theme('screens.md');
    }
    @screen lg {
      max-width: theme('screens.lg');
    }
    @screen xl {
      max-width: theme('screens.xl');
    }
}

.has-text-align-center {
    @apply text-center;
}

// .has-colour-1-background-color {
//     @apply bg-colour1;
// }

// .has-colour-2-background-color {
//     @apply bg-colour2;
// }

// .has-colour-1-color {
//     @apply text-colour1;
// }

// .has-colour-2-color {
//     @apply text-colour2;
// }

// .has-colour-3-color {
//     @apply text-colour3;
// }

// .has-white-color {
//     @apply text-white;
// }

// columns

.wp-block-columns {
    @apply flex flex-col;
}

@screen lg {
    .wp-block-columns {
        @apply flex-row;
    }
}
  
.wp-block-column {
    // @apply px-3;
    flex: 1;
}

  @screen lg {
    .wp-block-column {
        &:first-child {
            @apply pl-0;
        }
    
        &:last-child {
            @apply pr-0;
        }
      }
  }