.tab-links {
    a {
        font-size: 1rem;
        margin-right: 3.5rem;
        color: $primary-blue;
        transition: border-bottom 0.1s ease;
        background-image: linear-gradient(currentColor, currentColor);

        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 4px;
        transition: background-size .2s;

        &:hover {
            background-size: 100% 4px;
        }

        &.active {
            background-size: 0 !important;
            border-bottom: 4px solid $primary-blue;
        }
    }


    .tab-selection {
        border-bottom: 1px solid #BDBDBD;
    }
}


.tab-content {
    display: none;

    &.active {
        display: flex;
        animation: bottomUp 1s ease forwards;
    }

    @keyframes bottomUp {
        from {
            opacity: 0;
            transform: translateY(5px);
        } to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    h4 {
        font-size: 1.5rem;
        color: $primary-blue;
        line-height: 1;
        width: 100%;
        max-width: 75%;
    }

    .single-location {
        background: #FAF9F6;
        padding-left: 20px;
        padding-top: 25px;
        padding-right: 12px;
        padding-bottom: 39px;
        margin-right: 48px;
        margin-bottom: 48px;
        width: 28%;
        @media(min-width: 1100px) {
            height: 260px;
        }

        p{
            white-space: break-spaces;
            font-family: $primary-light;
            font-size: 1rem;
        }

        a {
            font-size: 1rem;
            color: $primary-blue;
        }

        .links {
            margin-left: 20px;

            a {
                &.phone {
                    &::before {
                        content: '';
                        background-image: url('../images/phone-icon.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        margin-left: -32px;
                        margin-top: 1px;
                    }
                }
                transition: border-bottom 0.1s ease;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 1px;
                transition: background-size .2s;

                &:hover {
                    background-size: 100% 1px;
                }
            }
    
            a {
                &.location {
                    &::before {
                        content: '';
                        background-image: url('../images/location.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        margin-left: -30px;
                        margin-top: 1px;
                    }
                }
                transition: border-bottom 0.1s ease;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 1px;
                transition: background-size .2s;

                &:hover {
                    background-size: 100% 1px;
                }
            }
        }
    }
}

