@font-face {
    font-family: 'BuenosAires-Light';
    src: url('../fonts/BuenosAires-Light.woff2') format('woff2'),
        url('../fonts/BuenosAires-Light.woff') format('woff');
    font-weight: 300;
    font-smoothing: antialiased;
}

@font-face {
    font-family: 'BuenosAires-Regular';
    src: url('../fonts/BuenosAires-Regular.woff2') format('woff2'),
        url('../fonts/BuenosAires-Regular.woff') format('woff');
    font-weight: normal;
    font-smoothing: antialiased;
}

@font-face {
    font-family: 'BuenosAires-Bold';
    src: url('../fonts/BuenosAires-Bold.woff2') format('woff2'),
        url('../fonts/BuenosAires-Bold.woff') format('woff');
    font-weight: bold;
    font-smoothing: antialiased;
}