/*-----------------------------------*/
/*  Footer
/*-----------------------------------*/

#footer {
    ul {
        li {
            line-height: 2;
            font-size: 13px;
            letter-spacing: 0.25px;
                
            a {
                color: $primary-blue;
                text-decoration: none;
                padding-bottom: 0.1rem;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 1px;
                transition: background-size .2s;
        
                &:hover {
                    background-size: 100% 1px;
                }

                &:focus {
                    background-size: 100% 1px;
                }
            }
        }
    }

    .social-icons{
        margin-top: 30px;
    }

    .footer-logo{
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .copyright{

        p {
            font-size: 12px;
            color: $primary-blue;
            @apply text-right mb-0;
        }

        .footer-logo img {
            width: 56px;
            margin-left: auto;
        }

        .top-arrow {
            span {
                font-family: $primary-bold;
                @apply uppercase;
                color: $primary-blue;
                font-size: 14px;
            }
        }
    }
}

.home,
.page-template-page_about {
    .footer-legal {
        background-color: white;
    }
}

.lasoo-footer {
	position: absolute;
	bottom: 0;
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faf9f6;

    #nav_menu-4 {
        display: flex;
        width: 100%;
        align-items: center;

        ul#menu-copyright {
            display: flex;
            justify-content: space-between;

            li {
                font-size: 13px;
                position: relative;
                
                a {
                    color: $primary-blue;
                    padding-bottom: 0.1rem;
                    text-decoration: none;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 1px;
                    transition: background-size .2s;
            
                    &:hover {
                        background-size: 100% 1px;
                    }

                    &:focus {
                        background-size: 100% 1px;
                    }
                }

                &:nth-child(2) {
                    margin-left: 7rem;
                }
            }
        }

        .menu-copyright-container {
            width: 100%;
            display: flex;
        }
    }
    .copy {
        p {
            font-size: 13px;
            color: $primary-blue;
            @apply mb-0;
        }
    }
}

.footer-white {
    .lasoo-footer {
        a {
            margin-top: 25px; 
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='11' viewBox='0 0 48 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43614 8.03123H6.3179V10.3871H0V0.240937H2.43614V8.03123ZM11.0296 0.240937L7.22811 8.37925V10.3603H9.45008L12.261 3.80145L15.0987 10.3603H17.3207V8.37925L13.5728 0.240937H11.0296ZM48 5.30061C48 8.29894 45.7513 10.5745 42.7797 10.5745C41.3341 10.5745 40.0223 10.039 39.0586 9.07529C38.0948 8.11155 37.5594 6.77301 37.5594 5.30061C37.5594 3.82822 38.0948 2.51645 39.0586 1.52593C40.0223 0.562186 41.3341 0.0267708 42.7797 0.0267708C45.7513 0.0267708 48 2.30229 48 5.30061ZM45.5371 5.30061C45.5371 4.47072 45.2694 3.72114 44.7607 3.18572C44.2521 2.65031 43.556 2.35583 42.7797 2.35583C41.1735 2.35583 40.0223 3.58728 40.0223 5.30061C40.0223 7.01394 41.1735 8.2454 42.7797 8.2454C43.556 8.2454 44.2521 7.95092 44.7607 7.41551C45.2694 6.88009 45.5371 6.13051 45.5371 5.30061ZM36.7295 5.30061C36.7295 8.29894 34.4808 10.5745 31.5092 10.5745C30.0636 10.5745 28.7518 10.039 27.7881 9.07529C26.8243 8.11155 26.2889 6.77301 26.2889 5.30061C26.2889 3.82822 26.8243 2.51645 27.7881 1.52593C28.7518 0.562186 30.0903 0.0267708 31.5092 0.0267708C34.4808 0.0267708 36.7295 2.30229 36.7295 5.30061ZM34.2666 5.30061C34.2666 4.47072 33.9989 3.72114 33.4902 3.18572C32.9816 2.65031 32.2856 2.35583 31.5092 2.35583C29.903 2.35583 28.7518 3.58728 28.7518 5.30061C28.7518 7.01394 29.903 8.2454 31.5092 8.2454C32.2856 8.2454 32.9816 7.95092 33.4902 7.41551C33.9989 6.88009 34.2666 6.13051 34.2666 5.30061ZM22.5945 4.25655L22.4874 4.22978C21.4969 3.9353 20.8812 3.72114 20.8812 3.13218C20.8812 2.57 21.4702 2.35583 22.0056 2.35583C23.3441 2.35583 23.9598 3.39989 23.9598 3.39989L25.5393 1.71333C25.5393 1.71333 24.3882 0 22.1127 0C21.1489 0 20.2387 0.294479 19.5694 0.856665C18.8199 1.47239 18.4451 2.32906 18.4451 3.31958C18.4451 5.51478 20.3458 6.07697 21.4702 6.39822C21.5505 6.42499 21.6308 6.45176 21.7111 6.45176C22.6748 6.71947 23.2906 6.90686 23.2906 7.41551C23.2906 7.76353 22.9961 8.19186 22.193 8.19186C20.667 8.19186 19.8371 6.85332 19.8371 6.85332L18.1506 8.62019C18.1506 8.62019 19.4356 10.5477 22.0591 10.5477C23.0496 10.5477 23.9598 10.2532 24.6291 9.69102C25.3787 9.07529 25.7535 8.21863 25.7535 7.22811C25.7267 5.11322 23.9063 4.63134 22.5945 4.25655Z' fill='%23031D51'/%3E%3C/svg%3E%0A") !important;
            background-size: contain !important;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            height: 29px;
            width: 60px;
            img {
               visibility: hidden;
            }
        }
    }
}
.footer-blue {
    .lasoo-footer {
        a {
            margin-top: 25px; 
            background-image: url("data:image/svg+xml,%3Csvg width='48' height='11' viewBox='0 0 48 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43614 8.03123H6.3179V10.3871H0V0.240937H2.43614V8.03123ZM11.0296 0.240937L7.22811 8.37925V10.3603H9.45008L12.261 3.80145L15.0987 10.3603H17.3207V8.37925L13.5728 0.240937H11.0296ZM48 5.30061C48 8.29894 45.7513 10.5745 42.7797 10.5745C41.3341 10.5745 40.0223 10.039 39.0586 9.07529C38.0948 8.11155 37.5594 6.77301 37.5594 5.30061C37.5594 3.82822 38.0948 2.51645 39.0586 1.52593C40.0223 0.562186 41.3341 0.0267708 42.7797 0.0267708C45.7513 0.0267708 48 2.30229 48 5.30061ZM45.5371 5.30061C45.5371 4.47072 45.2694 3.72114 44.7607 3.18572C44.2521 2.65031 43.556 2.35583 42.7797 2.35583C41.1735 2.35583 40.0223 3.58728 40.0223 5.30061C40.0223 7.01394 41.1735 8.2454 42.7797 8.2454C43.556 8.2454 44.2521 7.95092 44.7607 7.41551C45.2694 6.88009 45.5371 6.13051 45.5371 5.30061ZM36.7295 5.30061C36.7295 8.29894 34.4808 10.5745 31.5092 10.5745C30.0636 10.5745 28.7518 10.039 27.7881 9.07529C26.8243 8.11155 26.2889 6.77301 26.2889 5.30061C26.2889 3.82822 26.8243 2.51645 27.7881 1.52593C28.7518 0.562186 30.0903 0.0267708 31.5092 0.0267708C34.4808 0.0267708 36.7295 2.30229 36.7295 5.30061ZM34.2666 5.30061C34.2666 4.47072 33.9989 3.72114 33.4902 3.18572C32.9816 2.65031 32.2856 2.35583 31.5092 2.35583C29.903 2.35583 28.7518 3.58728 28.7518 5.30061C28.7518 7.01394 29.903 8.2454 31.5092 8.2454C32.2856 8.2454 32.9816 7.95092 33.4902 7.41551C33.9989 6.88009 34.2666 6.13051 34.2666 5.30061ZM22.5945 4.25655L22.4874 4.22978C21.4969 3.9353 20.8812 3.72114 20.8812 3.13218C20.8812 2.57 21.4702 2.35583 22.0056 2.35583C23.3441 2.35583 23.9598 3.39989 23.9598 3.39989L25.5393 1.71333C25.5393 1.71333 24.3882 0 22.1127 0C21.1489 0 20.2387 0.294479 19.5694 0.856665C18.8199 1.47239 18.4451 2.32906 18.4451 3.31958C18.4451 5.51478 20.3458 6.07697 21.4702 6.39822C21.5505 6.42499 21.6308 6.45176 21.7111 6.45176C22.6748 6.71947 23.2906 6.90686 23.2906 7.41551C23.2906 7.76353 22.9961 8.19186 22.193 8.19186C20.667 8.19186 19.8371 6.85332 19.8371 6.85332L18.1506 8.62019C18.1506 8.62019 19.4356 10.5477 22.0591 10.5477C23.0496 10.5477 23.9598 10.2532 24.6291 9.69102C25.3787 9.07529 25.7535 8.21863 25.7535 7.22811C25.7267 5.11322 23.9063 4.63134 22.5945 4.25655Z' fill='white'/%3E%3C/svg%3E%0A") !important;
            background-size: contain !important;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            height: 29px;
            width: 60px;
            img {
               visibility: hidden;
            }
        }
    }
}