.mfp-image-holder .mfp-content {
    max-width: 100%;
    width: 80% !important;
    position: relative;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
}

.gallery-title {
    width: 100%;
    right: calc(50% - 647px);
    font-size: 32px;
    margin-bottom: 3rem;
}

.mfp-title {
    font-size: 0.875rem;
    line-height: 1.5;
}

.mfp-removing{
    animation: close 1s;
  }
  
  @keyframes open {
      0%   {opacity: 0;}
      100% {opacity: 1;}
  }
  
  @keyframes close {
      0%   {opacity: 1;}
      100% {opacity: 0;}
  }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    position: fixed !important;
    top: 2rem;
    width: 100%;
    left: -1rem;
    font-size: 3.5rem;
    opacity: 1;
    cursor: pointer;

    &:focus {
        outline: none !important;
    }
}

.mfp-figure:after {
    content: '';
    box-shadow: unset;
    background: unset;
}

.mfp-counter {
    top: 50px;
    right: 50%;
    color: #FFF;
    font-size: 1rem;
    white-space: nowrap;
    transform: translateX(50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } 
    to {
        opacity: 1;
    }
}

img {
    &.mfp-img {
        height: auto;
        max-height: calc(100vh - 16rem) !important;
        max-width: calc(100vw - 11rem) !important;
        animation: fadeIn 0.5s linear;
    }
}


    .mfp-close {
        color: transparent !important;
    }

  button.mfp-close{
    height: 70px !important;

    &::after {
        content: '';
        background-image: url('../images/close-modal.svg') !important;
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: contain;
        position: absolute;
        right: 0;
        transform: scale(1.6);
    }
  }


  .mfp-arrow-left {
    background: url("../images/white-arrow.svg") no-Repeat center center !important;
    background-size: 40px !important;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    opacity: 1;
    left: calc((100% - 45px) - 83vw);

    &:focus {
        outline: none !important;
    }
  }

  .mfp-arrow-right {
    background: url("../images/white-arrow.svg") no-Repeat center center !important;
    background-size: 40px !important;
    width: 50px;
    height: 50px;
    opacity: 1;
    right: calc((100% - 45px) - 83vw);

    &:focus {
        outline: none !important;
    }
  }

  .mfp-arrow-left::before,
  .mfp-arrow-right::before {
    display: none;
    content:''
  }

  .mfp-arrow-left::after,
  .mfp-arrow-right::after {
    display: none;
    content:''
  }

  @media(max-width: 800px) {
    button.mfp-close{
        height: 70px !important;
    
        &::after {
            content: '';
            background-image: url('../images/close-modal.svg') !important;
            height: 40px;
            width: 40px;
            background-repeat: no-repeat;
            background-position: contain;
            position: absolute;
            right: 0;
            transform: unset;
        }
      }
    img {
        &.mfp-img {
            height: auto;
            max-width: calc(100vw - 7rem) !important;
            animation: fadeIn 0.5s linear;
        }
    }
    .mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
        color: #FFF;
        right: -6px;
        text-align: right;
        padding-right: 6px;
        position: absolute !important;
        width: 100%;
        left: unset;
        font-size: 3.5rem;
        opacity: 1;
        cursor: pointer;
    }
    .mfp-title {
        font-size: 12px;
    }
    .mfp-image-holder .mfp-content {
        max-width: 100%;
        width: 100% !important;
        position: relative;
    }
    .gallery-title {
        width: 100%;
        right: calc(50% - 647px);
        font-size: 15px;
        margin-bottom: 3rem;
        white-space: pre;
    }
    .mfp-arrow-left {
        background: url(../images/white-arrow.svg) no-Repeat center center !important;
        background-size: 30px !important;
        width: 50px;
        height: 50px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 1;
        left: calc(100% - 83vw);
    }
    button.mfp-arrow {
        height: 160px !important;
    }
  }

  
  @media(max-width: 320px) {
    .services-below-fold .gallery .w-1\/3 {
        margin: 2px;
        width: 89px;
        height: 93px;
    }
  }

  .mfp-wrap {
      z-index: 9999999999;
  }

.sidebar{
    will-change: min-height;
}

.gallery{
    transform: translate(0, 0); /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}