/*-----------------------------------*/
/*  Header
/*-----------------------------------*/

li.lasoo{
    padding-top: 1.3rem !important;

    a{
        margin-top: -2px;
        padding-bottom: 0.36rem !important;
    }
}

.second-parent {
    margin-top: 3px;
}



.navigation-holder {
    background-color: white;

    &.white-header {
        .lasoo {
            a {
                background-image: url("data:image/svg+xml,%3Csvg width='48' height='11' viewBox='0 0 48 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43614 8.03123H6.3179V10.3871H0V0.240937H2.43614V8.03123ZM11.0296 0.240937L7.22811 8.37925V10.3603H9.45008L12.261 3.80145L15.0987 10.3603H17.3207V8.37925L13.5728 0.240937H11.0296ZM48 5.30061C48 8.29894 45.7513 10.5745 42.7797 10.5745C41.3341 10.5745 40.0223 10.039 39.0586 9.07529C38.0948 8.11155 37.5594 6.77301 37.5594 5.30061C37.5594 3.82822 38.0948 2.51645 39.0586 1.52593C40.0223 0.562186 41.3341 0.0267708 42.7797 0.0267708C45.7513 0.0267708 48 2.30229 48 5.30061ZM45.5371 5.30061C45.5371 4.47072 45.2694 3.72114 44.7607 3.18572C44.2521 2.65031 43.556 2.35583 42.7797 2.35583C41.1735 2.35583 40.0223 3.58728 40.0223 5.30061C40.0223 7.01394 41.1735 8.2454 42.7797 8.2454C43.556 8.2454 44.2521 7.95092 44.7607 7.41551C45.2694 6.88009 45.5371 6.13051 45.5371 5.30061ZM36.7295 5.30061C36.7295 8.29894 34.4808 10.5745 31.5092 10.5745C30.0636 10.5745 28.7518 10.039 27.7881 9.07529C26.8243 8.11155 26.2889 6.77301 26.2889 5.30061C26.2889 3.82822 26.8243 2.51645 27.7881 1.52593C28.7518 0.562186 30.0903 0.0267708 31.5092 0.0267708C34.4808 0.0267708 36.7295 2.30229 36.7295 5.30061ZM34.2666 5.30061C34.2666 4.47072 33.9989 3.72114 33.4902 3.18572C32.9816 2.65031 32.2856 2.35583 31.5092 2.35583C29.903 2.35583 28.7518 3.58728 28.7518 5.30061C28.7518 7.01394 29.903 8.2454 31.5092 8.2454C32.2856 8.2454 32.9816 7.95092 33.4902 7.41551C33.9989 6.88009 34.2666 6.13051 34.2666 5.30061ZM22.5945 4.25655L22.4874 4.22978C21.4969 3.9353 20.8812 3.72114 20.8812 3.13218C20.8812 2.57 21.4702 2.35583 22.0056 2.35583C23.3441 2.35583 23.9598 3.39989 23.9598 3.39989L25.5393 1.71333C25.5393 1.71333 24.3882 0 22.1127 0C21.1489 0 20.2387 0.294479 19.5694 0.856665C18.8199 1.47239 18.4451 2.32906 18.4451 3.31958C18.4451 5.51478 20.3458 6.07697 21.4702 6.39822C21.5505 6.42499 21.6308 6.45176 21.7111 6.45176C22.6748 6.71947 23.2906 6.90686 23.2906 7.41551C23.2906 7.76353 22.9961 8.19186 22.193 8.19186C20.667 8.19186 19.8371 6.85332 19.8371 6.85332L18.1506 8.62019C18.1506 8.62019 19.4356 10.5477 22.0591 10.5477C23.0496 10.5477 23.9598 10.2532 24.6291 9.69102C25.3787 9.07529 25.7535 8.21863 25.7535 7.22811C25.7267 5.11322 23.9063 4.63134 22.5945 4.25655Z' fill='white'/%3E%3C/svg%3E%0A") !important;
                background-size: contain !important;
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                text-decoration: none;
                img {
                   visibility: hidden;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px !important;
                    position: absolute;
                    top: 32px !important;
                    bottom: 0;
                    width: 0;
                    background: transparent;
                    transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                    -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                    -moz-transition: width .2s, background-color .2s; /* FireFox */
                }

                &:hover {
                    &::after {
                        width: 100%;
                        background: white;
                        position: absolute !important;
                        top: 32px !important;
                        bottom: 0;
                        transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                        -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                        -moz-transition: width .2s, background-color .2s; /* FireFox */
                    }
                }
            }
        }
    }

    .lasoo {
        a {
           background-image: url("data:image/svg+xml,%3Csvg width='48' height='11' viewBox='0 0 48 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43614 8.03123H6.3179V10.3871H0V0.240937H2.43614V8.03123ZM11.0296 0.240937L7.22811 8.37925V10.3603H9.45008L12.261 3.80145L15.0987 10.3603H17.3207V8.37925L13.5728 0.240937H11.0296ZM48 5.30061C48 8.29894 45.7513 10.5745 42.7797 10.5745C41.3341 10.5745 40.0223 10.039 39.0586 9.07529C38.0948 8.11155 37.5594 6.77301 37.5594 5.30061C37.5594 3.82822 38.0948 2.51645 39.0586 1.52593C40.0223 0.562186 41.3341 0.0267708 42.7797 0.0267708C45.7513 0.0267708 48 2.30229 48 5.30061ZM45.5371 5.30061C45.5371 4.47072 45.2694 3.72114 44.7607 3.18572C44.2521 2.65031 43.556 2.35583 42.7797 2.35583C41.1735 2.35583 40.0223 3.58728 40.0223 5.30061C40.0223 7.01394 41.1735 8.2454 42.7797 8.2454C43.556 8.2454 44.2521 7.95092 44.7607 7.41551C45.2694 6.88009 45.5371 6.13051 45.5371 5.30061ZM36.7295 5.30061C36.7295 8.29894 34.4808 10.5745 31.5092 10.5745C30.0636 10.5745 28.7518 10.039 27.7881 9.07529C26.8243 8.11155 26.2889 6.77301 26.2889 5.30061C26.2889 3.82822 26.8243 2.51645 27.7881 1.52593C28.7518 0.562186 30.0903 0.0267708 31.5092 0.0267708C34.4808 0.0267708 36.7295 2.30229 36.7295 5.30061ZM34.2666 5.30061C34.2666 4.47072 33.9989 3.72114 33.4902 3.18572C32.9816 2.65031 32.2856 2.35583 31.5092 2.35583C29.903 2.35583 28.7518 3.58728 28.7518 5.30061C28.7518 7.01394 29.903 8.2454 31.5092 8.2454C32.2856 8.2454 32.9816 7.95092 33.4902 7.41551C33.9989 6.88009 34.2666 6.13051 34.2666 5.30061ZM22.5945 4.25655L22.4874 4.22978C21.4969 3.9353 20.8812 3.72114 20.8812 3.13218C20.8812 2.57 21.4702 2.35583 22.0056 2.35583C23.3441 2.35583 23.9598 3.39989 23.9598 3.39989L25.5393 1.71333C25.5393 1.71333 24.3882 0 22.1127 0C21.1489 0 20.2387 0.294479 19.5694 0.856665C18.8199 1.47239 18.4451 2.32906 18.4451 3.31958C18.4451 5.51478 20.3458 6.07697 21.4702 6.39822C21.5505 6.42499 21.6308 6.45176 21.7111 6.45176C22.6748 6.71947 23.2906 6.90686 23.2906 7.41551C23.2906 7.76353 22.9961 8.19186 22.193 8.19186C20.667 8.19186 19.8371 6.85332 19.8371 6.85332L18.1506 8.62019C18.1506 8.62019 19.4356 10.5477 22.0591 10.5477C23.0496 10.5477 23.9598 10.2532 24.6291 9.69102C25.3787 9.07529 25.7535 8.21863 25.7535 7.22811C25.7267 5.11322 23.9063 4.63134 22.5945 4.25655Z' fill='%23031D51'/%3E%3C/svg%3E%0A") !important;
            background-size: contain !important;
            background-repeat: no-repeat;
            background-position: center center;
            display: block;
            height: 29px;
            width: 60px;
            img {
               visibility: hidden;
            }

            &::after {
                content: '';
                display: block;
                height: 2px !important;
                position: absolute;
                top: 32px !important;
                bottom: 0;
                width: 0;
                background: transparent;
                transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                -moz-transition: width .2s, background-color .2s; /* FireFox */
            }

            &:hover {
                &::after {
                    width: 100%;
                    background: $primary-blue;
                    position: absolute !important;
                    top: 32px !important;
                    bottom: 0;
                    transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                    -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                    -moz-transition: width .2s, background-color .2s; /* FireFox */
                }
            }
        }
    }

    &.shrink {
        .lasoo {
            a {
               background-image: url("data:image/svg+xml,%3Csvg width='48' height='11' viewBox='0 0 48 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.43614 8.03123H6.3179V10.3871H0V0.240937H2.43614V8.03123ZM11.0296 0.240937L7.22811 8.37925V10.3603H9.45008L12.261 3.80145L15.0987 10.3603H17.3207V8.37925L13.5728 0.240937H11.0296ZM48 5.30061C48 8.29894 45.7513 10.5745 42.7797 10.5745C41.3341 10.5745 40.0223 10.039 39.0586 9.07529C38.0948 8.11155 37.5594 6.77301 37.5594 5.30061C37.5594 3.82822 38.0948 2.51645 39.0586 1.52593C40.0223 0.562186 41.3341 0.0267708 42.7797 0.0267708C45.7513 0.0267708 48 2.30229 48 5.30061ZM45.5371 5.30061C45.5371 4.47072 45.2694 3.72114 44.7607 3.18572C44.2521 2.65031 43.556 2.35583 42.7797 2.35583C41.1735 2.35583 40.0223 3.58728 40.0223 5.30061C40.0223 7.01394 41.1735 8.2454 42.7797 8.2454C43.556 8.2454 44.2521 7.95092 44.7607 7.41551C45.2694 6.88009 45.5371 6.13051 45.5371 5.30061ZM36.7295 5.30061C36.7295 8.29894 34.4808 10.5745 31.5092 10.5745C30.0636 10.5745 28.7518 10.039 27.7881 9.07529C26.8243 8.11155 26.2889 6.77301 26.2889 5.30061C26.2889 3.82822 26.8243 2.51645 27.7881 1.52593C28.7518 0.562186 30.0903 0.0267708 31.5092 0.0267708C34.4808 0.0267708 36.7295 2.30229 36.7295 5.30061ZM34.2666 5.30061C34.2666 4.47072 33.9989 3.72114 33.4902 3.18572C32.9816 2.65031 32.2856 2.35583 31.5092 2.35583C29.903 2.35583 28.7518 3.58728 28.7518 5.30061C28.7518 7.01394 29.903 8.2454 31.5092 8.2454C32.2856 8.2454 32.9816 7.95092 33.4902 7.41551C33.9989 6.88009 34.2666 6.13051 34.2666 5.30061ZM22.5945 4.25655L22.4874 4.22978C21.4969 3.9353 20.8812 3.72114 20.8812 3.13218C20.8812 2.57 21.4702 2.35583 22.0056 2.35583C23.3441 2.35583 23.9598 3.39989 23.9598 3.39989L25.5393 1.71333C25.5393 1.71333 24.3882 0 22.1127 0C21.1489 0 20.2387 0.294479 19.5694 0.856665C18.8199 1.47239 18.4451 2.32906 18.4451 3.31958C18.4451 5.51478 20.3458 6.07697 21.4702 6.39822C21.5505 6.42499 21.6308 6.45176 21.7111 6.45176C22.6748 6.71947 23.2906 6.90686 23.2906 7.41551C23.2906 7.76353 22.9961 8.19186 22.193 8.19186C20.667 8.19186 19.8371 6.85332 19.8371 6.85332L18.1506 8.62019C18.1506 8.62019 19.4356 10.5477 22.0591 10.5477C23.0496 10.5477 23.9598 10.2532 24.6291 9.69102C25.3787 9.07529 25.7535 8.21863 25.7535 7.22811C25.7267 5.11322 23.9063 4.63134 22.5945 4.25655Z' fill='%23031D51'/%3E%3C/svg%3E%0A") !important;
                background-size: contain !important;
                background-repeat: no-repeat;
                background-position: center center;
                display: block;
                height: 29px;
                width: 60px;
                img {
                   visibility: hidden;
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px !important;
                    position: absolute;
                    top: 32px !important;
                    bottom: 0;
                    width: 0;
                    background: transparent;
                    transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                    -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                    -moz-transition: width .2s, background-color .2s; /* FireFox */
                }

                &:hover {
                    &::after {
                        width: 100%;
                        background: $primary-blue;
                        position: absolute !important;
                        top: 32px !important;
                        bottom: 0;
                        transition: width .2s, background-color .2s; /* .5 seonds for changes to the width and background-color */
                        -webkit-transition: width .2s, background-color .2s; /* Chrome and Safari */
                        -moz-transition: width .2s, background-color .2s; /* FireFox */
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    body.home,
    body.single-post {
        margin-top: 6vh;
    }
}

@media (max-width: 990px) {
    body.home,
    body.single-post {
        margin-top: 5.5vh;
    }
}

@media (min-width: 991px) {
    body.home,
    body.single-post {
        margin-top: 6.5vh;
    }
}

.sticky-bar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    transition: position 0.5s ease-in;
}

.mobile-header {
    &.white-header {
        background-color: transparent;
    }
    &.blue-header {
        background-color: transparent;
    }
}

.navigation-holder {
    min-height: 6.5vh;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    transition: position 0.5s ease-in;

    // Blue Header
    &.blue-header {
        // Blue arrow on blue colored header 
        ul#menu-contact {
            li{
                &::before {
                    content: '';
                    background-image: url("../images/darkblue-arrow.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -25px;
                    bottom: 4px;
                }
            }
        }
    }

    // Services page specific
    &.services-page {
        background-color: white;
    }

    &.blue-header {
        background-color: transparent;
    }

    // White header
    &.white-header {
        background-color: transparent;

        ul#menu-main-menu {
            li {
                a {
                    color: white;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .2s;
            
                    &:hover{
                        background-size: 100% 2px;
    
                        &::after {
                            content: '';
                            width: 100%;
                            height: 20px;
                            margin: 0 auto;
                            position: absolute;
                            top: 4px;
                            left: 0;
                            border-bottom: none;
                        }
                    }
                }
            }
        }

        ul#menu-contact {

            li {
                a {
                    color: white;
                    background-image: linear-gradient(currentColor, currentColor);
                    background-position: 0% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size .2s;
            
                    &:hover{
                        background-size: 100% 2px;
    
                        &::after {
                            content: '';
                            width: 100%;
                            height: 20px;
                            margin: 0 auto;
                            position: absolute;
                            top: 4px;
                            left: 0;
                            border-bottom: none;
                        }
                    }
                }
            }

            li{
                &::before {
                    content: '';
                    background-image: url("../images/menu-white.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: -25px;
                    bottom: 4px;
                }
            }
        }
        
        svg.site-logo path{
            fill: white;
        }

        svg.site-logo {
            padding-top: 3px;
        }

        &.shrink {
            ul#menu-main-menu {
                li {
                    a {
                        background-image: linear-gradient(currentColor, currentColor);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        transition: background-size .2s;
                
                        &:hover{
                            background-size: 100% 2px;
        
                            &::after {
                                content: '';
                                width: 100%;
                                height: 20px;
                                margin: 0 auto;
                                position: absolute;
                                top: 4px;
                                left: 0;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }   
        }
    }
    // White header end
    @keyframes slideDown {
        from {
            transform: translateY(-30%);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &.shrink {
        box-shadow: -1px -8px 11px 4px rgba(0, 0, 0, 0.75);
        transition: box-shadow 0.4s ease;
    }

    // Header shrink states only on blue and white header
    &.blue-header,
    &.white-header {
        &.shrink {
            background: white;
            box-shadow: -1px -8px 11px 4px rgba(0, 0, 0, 0.75);
            @media(min-width: 1100px) {
                animation: slideDown 0.25s linear;
            }
    
            ul#menu-main-menu {
                li {
                    a {
                        color: $primary-blue;
                        background-image: linear-gradient(currentColor, currentColor);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        transition: background-size .2s;
                
                        &:hover{
                            background-size: 100% 2px;
        
                            &::after {
                                content: '';
                                width: 100%;
                                height: 20px;
                                margin: 0 auto;
                                position: absolute;
                                top: 4px;
                                left: 0;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
    
            ul#menu-contact {
                li {
                    a {
                        color: $primary-blue;
                        background-image: linear-gradient(currentColor, currentColor);
                        background-position: 0% 100%;
                        background-repeat: no-repeat;
                        background-size: 0% 2px;
                        transition: background-size .2s;
                
                        &:hover{
                            background-size: 100% 2px;
        
                            &::after {
                                content: '';
                                width: 100%;
                                height: 20px;
                                margin: 0 auto;
                                position: absolute;
                                top: 4px;
                                left: 0;
                                border-bottom: none;
                            }
                        }
                    }
                }
    
                li{
                    &::before {
                        content: '';
                        background-image: url("../images/turquiose-arrow.svg");
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left: -25px;
                        bottom: 4px;
                    }
                }
            }
            svg.site-logo path{
                fill: $primary-blue;
            }
        }
    }

    // Header shrink states end
    ul#menu-main-menu {
        @apply flex;
    }

    .active{
        a {
            &::after {
                content: '';
                width: 100%;
                position: absolute;
                margin-top: 27px;
                left: 0;
                border-bottom: 2px solid #031D51;
                border-bottom: 2px solid $primary-blue;
            }
        }
    }

    // This adds an active state to the current page menu item
    ul.sub-menu {
        a {
            background-image: none !important;
            &::after {
                content: '';
                left: unset !important;
            }

            &:hover::after {
                content: '';
                left: unset !important;
            }
        }
        .active {
            a {
                background-image: none !important;
                &::after {
                    content: '';
                    left: unset !important;
                }

                &:hover {
                    background-image: none !important;
                }

                &:hover::after {
                    content: '';
                    left: unset !important;
                }
            }
        }
    }

    ul#menu-main-menu {
        li {
            padding-right: 2rem;
            padding-left: 1rem;
            margin: 0 0.50rem;
            padding-top: 1.5rem;
            padding-bottom: 1.7rem;
            // border-bottom: 2px solid transparent;

            a {
                font-family: $primary-bold;
                font-size: $top-menu-font-size;
                @apply capitalize;
                color: $primary-blue;
                padding-bottom: 0.2rem;
                position: relative;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .2s;
        
                &:hover{
                    background-size: 100% 2px;

                    &::after {
                        content: '';
                        width: 100%;
                        height: 20px;
                        margin: 0 auto;
                        position: absolute;
                        top: 4px;
                        left: 0;
                        border-bottom: none;
                    }
                }
                
            }

            

            // Menu Colors for the basic hover state
            li.purple-secondary {
                a {
                    color: $primary-blue !important;
                }
            }

            // Specific Style for first list item
            li.purple-secondary.menu-item-has-children {
                &::after {
                    content: '';
                    top: 15px !important;
                }
                ul.sub-menu {
                    background-color: $secondary-purple;
                    box-shadow: inset 7px 0px 3px -7px rgba(0,0,0,0.75);

                    li {
                        // background-image: linear-gradient(currentColor, currentColor) !important;
                            // background-position: 0% 100%;
                            // background-repeat: no-repeat;
                            // background-size: 0% 1px;
                            // transition: background-size .2s;
                        a { 
                            // width: 50% !important;
                            color: white !important;
                            // background-image: linear-gradient(currentColor, currentColor) !important;
                            // background-position: 0% 100%;
                            // background-repeat: no-repeat;
                            // background-size: 0% 1px;
                            // transition: background-size .2s;
                    
                            // &:hover {
                            //     background-size: 100% 1px !important;
                            // }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &::after {
                    content: '';
                    background-image: url("../images/purple-arrow.svg") !important;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 20px;
                    float: right;
                    transform: translate(-22px, 6px) !important;
                }
            }


            // Specific Style for first list item end
            li.lightblue-secondary {
                &:hover {

                    a {
                        color: $primary-blue !important;
                    }
                }
            }
            li.lightblue-secondary.menu-item-has-children {
                &:hover {

                    a {
                        color: $primary-blue !important;

                        // &:hover {
                        //     border-bottom: none;
                        // }
                    }
                }
                &::after {
                    content: '';
                    background-image: url("../images/light-arrow.svg") !important;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 20px;
                    float: right;
                    transform: translate(-22px, 12px) !important;
                }
                ul.sub-menu {
                    background-color: $secondary-lightblue;
                    box-shadow: inset 7px 0px 3px -7px rgba(0,0,0,0.75);

                    li a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            li.turquoise-secondary {
                &:hover {
                    a {
                        color: $primary-blue !important;
                    }
                }
            }

            li.turquoise-secondary.menu-item-has-children {
                &:hover {
                    a {
                        color: $primary-blue !important;
                    }
                }
                &::after {
                    content: '';
                    background-image: url("../images/turquiose-arrow.svg") !important;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 20px;
                    float: right;
                    transform: translate(-22px, 12px) !important;
                }
                ul.sub-menu {
                    background-color: $secondary-turquoise;
                    box-shadow: inset 7px 0px 3px -7px rgba(0,0,0,0.75);
                    li a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            li.blue-secondary {
                a {
                    color: $primary-blue !important;
                    padding-top: 1.5rem !important;
                    padding-bottom: 2rem !important;
                }
            }

            li.blue-secondary.menu-item-has-children {
                &::after {
                    content: '';
                    background-image: url("../images/blue-arrow.svg") !important;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 20px;
                    float: right;
                    transform: translate(-22px, 6px) !important;
                }
                ul.sub-menu {
                    background-color: $secondary-blue;
                    box-shadow: inset 7px 0px 3px -7px rgba(0,0,0,0.75);

                    li a {
                        color: white !important;
                        
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            // Menu Colors End
        }

         // Level 1 has children arrows 
         ul.sub-menu {
            box-shadow: -5px 13px 42px -31px rgba(0,0,0,0.75);
            li, li:hover {
                // position: relative;
                margin: 0;
                // border-bottom: none !important;
                padding: 0;
                display: flex;
                align-items: baseline;
                animation: fadeIn 0.45s forwards;

                a {
                    position: unset;
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                    padding-right: 2rem;
                    padding-left: 1.3rem;
                    width: 100%;

                    &::after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 84%;
                        border-bottom: 1px solid $border-color;
                        position: absolute;
                        margin-top: 18px;
                    }

                    &:hover::after {
                        content: '';
                        display: block;
                        margin: 0 auto;
                        width: 84%;
                        border-bottom: 1px solid $border-color;
                        position: absolute;
                        margin-top: -1px;
                        left: auto;
                        top:auto;
                    }
                }

                &:last-child {
                    a {
                        &::after {
                            content: '';
                            display: block;
                            width: 0%;
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
            li.menu-item-has-children {
                &::after {
                    content: '';
                    background-image: url("../images/grey-arrow.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 16px;
                    height: 20px;
                    float: right;
                    transform: translate(20px, -5px);
                    pointer-events: none;
                    cursor: pointer;
                }
            }
        }

        // White header specific first level link colors
        .white-header {
            #ul.menu-main-menu {
                li.menu-item-has-children {
                    ul.sub-menu {
                        li {
                            a {
                                color: $primary-blue !important;
                            }
                        }
                    }
                }
            }
        }

        // First Level Submenu item
        li.menu-item-has-children {
            
            // Level 1 Initial State
            ul.sub-menu {
                display: none;
                position: absolute;
                background-color: white;
                line-height: 1;
                margin-left: -16px;
                width: 270px;
                margin-top: 27px;
                z-index: 999;

                li {
                    // padding-top: 0.8rem;
                    // padding-bottom: 1rem;
                    // padding-right: 3rem;
                    // padding-left: 1rem;
                    letter-spacing: 1px;
                    color: white;
                    transition: none !important;

                    &:hover a {
                        color: white;
                    }
                    
                    a {
                        color: $primary-blue;
                        font-size: $sub-menu-size;
                        font-family: $primary-regular;
                    }

                    &:hover {
                        color: inherit;
                    }
                }

                li:last-child {
                    border-bottom: none;
                }
            }

            // Level 1 Hover State
            &:hover ul.sub-menu {
                display: block;
                position: absolute;

                // Second level submenu item
                li.menu-item-has-children {
                    // position: relative;

                    // Level 2 Initial State
                    ul.sub-menu {
                        display: none;
                        position: absolute;
                        right: -240px;
                        top: 0;
                        width: 221px !important;
                        padding-top: 0.6rem;
                        min-height: 100%;
                        margin-top: 0;

                        li {
                            margin-top: -0.6rem;
                            padding-bottom: 0.8rem;
                            border-bottom: none !important;
                        }
                        
                        li {
                            a {
                                color: white;
                                font-size: $second-level-size;
                                padding-bottom: 0.4rem;
                                padding-left: 1.5rem;
                                width: 100%;
                            }
                        }
                    }

                    //  Level 2 Hover State
                    &:hover ul.sub-menu {
                        display: block;
                        position: absolute;
                        width: 100%;
                        right: -220px;
                        top: 0;
                        box-shadow: 2px 3px 7px -3px rgba(0,0,0,0.75);

                        li {
                            a {
                                font-family: $primary-regular !important;
    
                                &::after {
                                    content: '';
                                    display: none;
                                }
    
                                // &:hover {
                                //     text-decoration: underline;
                                // }
                            }
                        }
                    }
                }
            }
        }
    }
    // Sub Menu End

    ul#menu-contact {
        li {
            a {
                font-family: $primary-bold;
                font-size: $top-menu-font-size;
                @apply capitalize;
                color: $primary-blue;
                padding-bottom: 0.2rem;
                background-image: linear-gradient(currentColor, currentColor);
                background-position: 0% 100%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                transition: background-size .2s;
        
                &:hover {
                    background-size: 100% 2px;
                }
            }
        }
    }

    .logo {
        img {
            width: 100%;
            max-width: 35%;
        }
    }

    .show-logo {
        max-height: 65px;
        transition: max-height 1s ease-in;
    }

    ul#menu-contact {
        @apply relative;

        li{
            &::before {
                content: '';
                background-image: url("../images/turquiose-arrow.svg");
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                width: 20px;
                height: 20px;
                left: -25px;
                bottom: 4px;
            }
        }
    }
}