// Home Page Layout
body {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.wpcf7 form.sent .wpcf7-response-output {
    color: white !important;
}

.lasoo-footer {
    position: unset;
    bottom: 0;
}

.part-one {
    .purple,
    .light-blue,
    .turquiose,
    .dark-blue {
        height: auto;
    }

    .light-blue {
        height: 100%;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
        // img {
        //     position: absolute;
        //     width: 100%;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        // }
    }
}

.part-two {

    .image-play {
        min-width: 177%;
        height: 110%;
        overflow: hidden;

        video {
            width: 100%;
            height: 100%;
            top: 0;
            object-fit: cover;
        }

        video[poster]{
            height:100%;
            width:100%;
            object-fit: cover;
            position: absolute;
            object-position: center;
        }

        p {
            @apply mb-0;
        }
        img {
            width: 700px;
            object-fit: cover;
        }
    }
    img.play-button{
        position: absolute;
    }
}

.part-one,
.part-three,
.part-four {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.white-logo {
    
    img {
        position: relative;
        z-index: 2;
    }

    .waypoint-arrows {
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            @apply block mx-auto;
            z-index: 1;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    pointer-events: none;
    transition: all 0.25s ease-out;

    &.open {
        display: block;
        pointer-events: all;
    }
}

.video-holder {
    position: absolute;
    width: 85% !important;
    left: 50%;
    margin: 0 auto;
    top: 50%;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;

    &.open {
        transform: translate(-50%, -50%) scale(1);
    }

    img.close-button {
        top: -2rem;
    }
}


// Below Fold

.below-fold {
    h2 {
        line-height: 1;
        color: $primary-blue;
        width: 100%;
        max-width: 91%;
    }
    p {
        font-size: $standard-size;
        font-family: $primary-light;
        line-height: 1.5;
    }
    .letters {
        .letter-1 {
            bottom: 0;
            left: 0;
        }
        .letter-2 {
            top: 0;
            left: 0;
        }
    }
    .section-image {
        width: 100%;
    }
    .show-arrow {
        top: 215px;
        right: 215px;
    }
}

a.through-link {
    font-family: $primary-bold;
    @apply capitalize;
    font-size: $learn-more;
    color: $primary-blue;

    &::before {
        content: '';
        background-image: url(../images/darkblue-arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 5px;
        margin-right: 5px;
    }
}

a.read-more-link {
    font-family: $primary-bold;
    @apply capitalize;
    font-size: $learn-more;
    color: $primary-blue;
    position: relative;

    &::before {
        content: '';
        background-image: url(../images/dark-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 20px;
        height: 20px;
        float: left;
        margin-top: 7px;
        margin-right: 5px;
        transform-origin: 50% 0%;
        transition: all .4s .1s;
        transform-origin: 50% 0%;
        transform-style: preserve-3d;
        transform: translateX(0);
    }

    // &:hover {
    //     &::before {
    //         transform: translateX(20px);
    //         transition: all .5s cubic-bezier(1, 0, 0, 1);
    //     }
    // }
}

// Blue Video Block

.maze-video{
    background-color: #bcdbf5;

    img {
        position: absolute;
        right: -60px;
        top: 130px;
    }
}

// Two Column Block
.two-column {
    h2 {
        color: $primary-blue;
        line-height: 1.1;
    }
    p {
        font-size: $standard-size;
        line-height: 1.5;
        font-family: $primary-light;
    }
}

// Service menu
.service-grid > .service-item:nth-child(n+1):nth-child(-n+2) {
    img.service-arrow {
        transform: rotate(270deg);
    }
}

.service-grid > .service-item:nth-child(n+3):nth-child(-n+4) {
    img.service-arrow {
        transform: rotate(90deg);
    }
}

.service-grid > .service-item:nth-child(n+3) .service-link{
    flex-direction: row-reverse !important;
}


.service-grid {
    .service-item {
        @apply mb-1;
    }

    .color-section {
        @apply p-4;

        img {
            position: absolute;
            bottom: 40px;
        }

        h3 {
            line-height: 1.1;
        }
    }

    // a {
    //     display: contents;
    //     width: 100%;
    // }
}

    
img.services-image {
    right: -20px;
    bottom: -50px;
    z-index: -1;
}

// News Block
.news-block-post {
    border-top: 1px solid $border-color;

    p {
        font-size: 1.125rem;
        color: $primary-blue;
    }

    .blog-arrow {
        position: absolute;
        bottom: 0;
    }

    span {
        color: $secondary-turquoise;
        font-size: 0.875rem;
    }
}

.blog-heading {
    h3 {
        @apply mb-0 ml-2;
        font-size: 3rem;
        color: $primary-blue;
    }
}

.blog-parent > div {
    width: calc(49.5% - 1rem);
}

// Contact Block
.contact-block {
    div.wpcf7-mail-sent-ok {
        color: white;
    }

    @media(min-width: 1100px) {
        height: 480px;    
    }
        
    h4 {
        @apply text-white;
        font-size: 2rem;
    }

    img {
        width: 100%;
    }

    input {
        margin-bottom: 0.8rem;
    }

    input[type="submit"] {
        border-bottom: none;
        font-size: 1.125rem;
        color: white;
        font-family: $primary-bold;
        @apply absolute cursor-pointer;
        right: 35px;
        bottom: -10px;
        text-align: end;
    }

    .form-bottom {
        position: relative;

        &::after {
            content: '';
            background-image: url('../images/turquiose-arrow.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0;
            top: -2px;
        } 
    }

    input,
    textarea {
        background-color: transparent;
        border-bottom: 2px solid $secondary-turquoise;
        color: $secondary-turquoise;
        font-size: $standard-size;
        width: 100%;
        padding-bottom: 0.5rem;

        &::placeholder {
            color: $secondary-turquoise;
        }


        &.wpcf7-not-valid{
            border-bottom: 2px solid $form-not-valid;
            &::placeholder {
                color: $form-not-valid;
            }

        }
        &:focus {
            outline: none !important;
        }
    }
    .wpcf7-not-valid-tip{
        display: none !important;
    }
    .wpcf7 form{
        position: relative;
        .wpcf7-response-output {
            margin: 0px !important;
            padding: 0px !important;
            border: none !important;
            color: $form-not-valid;
            font-size: 14px;
            width: 50%;
            position: absolute;
            bottom: -4px;
        }
    }

    textarea {
        height: 100px;
        resize: none;
    }


    //@media(min-width: 991px) {
    //    .form-section > div {
    //        width: 80%;
    //    }
    //}

    .placeholder {
        height: 33.4rem;
    }

    div.wpcf7 .ajax-loader {
        background-image: url('../images/wheel.gif');
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
    }

}

// reversed footer


.footer-blue {
    &.footer-columns {
        background-color: $primary-blue;
    }
    ul {
        li {
            a {
                color: white !important;
            }
        }
    }
    .footer-logo {
        svg {
            path {
                fill: white;
            }
        }
        p {
            color: white !important;
        }
    }

    .social-icons {
        a {
            svg.insta path {
                fill : white;
            }
            svg.linkedin path {
                fill : white;
            }
            svg.twitter path {
                fill: white;
            }
        }
    }

    .top-arrow {
        span {
            color: white !important;
        }
    }
}