_:-ms-lang(x), .below-fold,
.two-column,
.latest-blog,
.contact-block,
.about-header-block,
.ive-switchable-columns,
.header-content-block,
.services-below-fold,
.more-services,
.sub-services,
.ive-care,
.service-main-video { 
    flex-direction: column;
 }

 _:-ms-lang(x), .play-button {
     position: absolute;
     left: 47%;
 }

 _:-ms-lang(x), .contact-block input[type='submit'] {
     text-align: right;
 }

 _:-ms-lang(x), .top-arrow img{
     width: 18px;
 }

 _:-ms-lang(x), .home{
     overflow-x: hidden !important;
 }

 _:-ms-lang(x), video[poster]{
    height: 99% !important;
    width:100%;
    object-fit: cover;
    position: absolute;
    object-position: center;
    left: -23%;
}

