// Story Block
.story-block {
    p {
        @apply pt-4;
        font-size: $services-text;
        color: $primary-blue;
        line-height: 1.5;
    }
    .story-content {
        border-top: 4px solid $primary-blue;
    }
    img.wayfinders {
        left: 40px;
        bottom: 40px;
    }
}

//contact block 2
.contact-block-two {
    .navigation-holder.white-header {
        background-color: #fff;
    }

    .floating-label,
    .floating-select {
        margin-top: 16px;
        position: relative;
        display: block;
    }

    .textarea-wrap {
        position: relative;
    }

    .floating-label::after,
    .textarea-wrap::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 2px;
        background-color: #031D51;
        transform: translateX(-50%);
        transition: all 0.2s ease-out;
    }

    .textarea-wrap::after {
        bottom: 8px;
    }

    .underline-grow::after {
        width: 100%;
    }

    .gfield_checkbox {
        margin-top: 36px;
        position: relative;
        display: block;
    }

    form {
        color: #031D51;
    }

    .floating-label>input,
    .floating-select>select {
        border-bottom-color: #031D51;
        border-bottom-width: 1px;
        width: 100%;
        font: inherit;
        color: #031D51;
        width: 100%;
        height: 1.1876em;
        margin: 0;
        display: block;
        padding: 30px 0 11px 0;
        box-sizing: content-box;
        font-weight: 300;
        position: relative;
    }

    .floating-label>input:after {
        position: absolute;
        bottom: 0;
        width: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        transition: all 0.2s ease-out;
        content: '';
        background-color: #031D51;
    }

    .floating-select>select {
        color: transparent;
        -webkit-appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.33 5.54'%3E%3Cpath style='fill:%23818181' d='M0 0h11.33L5.79 5.54 0 0z'/%3E%3C/svg%3E");
        background-position: right 55%;
        background-repeat: no-repeat;
        background-size: 14px;
    }

    .floating-select>select:focus,
    .floating-select>select:checked {
        color: #031D51;
    }


    .floating-label>input:focus,
    .floating-select>select:focus {
        outline: none;
    }

    .floating-label>input::placeholder {
        color: transparent;
    }

    .floating-label>label,
    .floating-select>label {
        color: #031D51;
        position: absolute;
        top: 10px;
        left: 0;
        height: 100%;
        padding: 1rem 0;
        font-size: 16px;
        font-weight: 300;
        pointer-events: none;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    }

    .floating-label>input:focus~label,
    .floating-label>input:not(:placeholder-shown)~label,
    .floating-select>select:focus~label,
    .floating-select>select.floatit~label {
        opacity: .65;
        transform: scale(.7) translateY(-1.5rem) translateX(0);
    }

    .floating-select>select.floatit {
        color: #031D51;
    }

    textarea {
        border-bottom-color: #031D51;
        border-bottom-width: 1px;
        width: 100%;
        height: 120px;
        overflow: hidden;
        padding: 10px 0 11px 0;
        line-height: 1.1876em;
        box-sizing: content-box;
        font-size: 16px;
        color: #031D51;
    }

    textarea::placeholder {
        font-size: 16px;
    }

    textarea:focus {
        outline: none;
    }

    .gfield_checkbox {
        position: relative;
    }

    .gfield_checkbox input[type='checkbox'] {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        margin: 0;
    }

    .gfield_checkbox input[type='checkbox']+label {
        position: relative;
        padding-left: 28px;
        display: block;
        min-height: 22px;
        cursor: pointer;
        margin-left: 0;
        margin-bottom: 10px;
        padding-top: 1px;
    }

    .gfield_checkbox input[type='checkbox']+label::before {
        background-color: transparent;
        border: 2px solid #031D51;
        border-radius: 22px;
        content: '';
        height: 22px;
        left: 0;
        position: absolute;
        top: 0.1em;
        width: 22px;
        display: block;
    }

    .gfield_checkbox input[type='checkbox']+label::after {
        background-image: url("data:image/svg+xml,%3Csvg id='Isolation_Mode' data-name='Isolation Mode' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 10.42'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M431.4,684.42l-5-5,1.41-1.41,3.59,3.58L439,674l1.41,1.42Z' transform='translate(-426.4 -674)'/%3E%3C/svg%3E");
        content: '';
        background-color: #031D51;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        left: 0;
        position: absolute;
        top: 0.1em;
        width: 22px;
        opacity: 0;
        display: block;
        transition: all 0.2s ease-in;
        border: 2px solid #031D51;
    }

    .gfield_checkbox input[type='checkbox']+label::before {
        border-radius: 2px;
    }

    .gfield_checkbox input[type='checkbox']:checked+label::after {
        opacity: 1;
    }

    .form-bottom {
        position: relative;
        display: flex;
        justify-content: flex-end;
        line-height: 1;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .form-bottom::after {
        content: '';
        background-image: url(../images/turquiose-arrow.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: center;
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 29%;
    }

    .wpcf7-submit {
        padding: 10px 37px 10px 15px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }

    .wpcf7-submit:hover {
        background-color: rgba(3, 29, 81, 0.04);
    }

    .ajax-loader {
        display: none !important;
    }

    .wpcf7-response-output {
        margin-left: 0 !important;
        border-color: #031D51 !important;
        background-color: #031D51 !important;
        color: #fff !important;
    }
}