.mobile{
  display: none;
}

@media (min-width: 1200px) {
  .width-control {
    max-width: 1440px;
  }
  .form-width {
    max-width: 610px;
  }
}

@media (max-width: 1100px) {
  
}

@media all and (max-width:800px) {
  .service-grid > .service-item:nth-child(1) .service-link .w-bg-img {
    margin-right: 0;
  }

  .service-grid > .service-item:nth-child(2) .service-link .color-section {
      margin-right: 0;
  }

  .service-grid > .service-item:nth-child(3) .service-link .w-bg-img {
      margin-right: 0;
  }

  .service-grid > .service-item:nth-child(4) .service-link .color-section {
      margin-right: 0;
  }

  .desktop{
    display: none;
  }
  .mobile{
    display: block;
  }


  // This sets all divs to full width by default - we only need to override this when needed
  div[class^="w-"]{
    width: 100%;
  }


  body{
    margin-top: 72px;
  }

  .mobile-menu{
    top:0;
  }

  // home page mobile
  #home-header{
    .w-1\/2{
      width: 100%;
      .w-1\/2{
        width: 50%;
        height: 260px;
      }
    }

    .part-one {
      .light-blue {
        img {
          width: 100% !important;
        }
      }
    }

    .white-logo{
      display: none;
    }
  }

  .below-fold{
    h2 {
      font-size: 48px;
    }
    .container{
      padding: 0;
      div:first-child{
        padding:22px;
        padding-bottom: 6rem;
        &.section-image{
          padding: 0;
          margin-bottom: 40px;

          img {
            width: 100%;
          }

          &::before {
              content: '';
              background: url('../images/Letter_i.svg');
              background-repeat: no-repeat;
              background-size: contain;
              height: 62px;
              width: 40px;
              position: absolute;
              top: -40px;
              left: 20px;
              z-index: 2;
          }

          &::after {
              content: '';
              background: url('../images/Letter_e.svg');
              background-repeat: no-repeat;
              background-size: contain;
              height: 42px;
              width: 40px;
              position: absolute;
              bottom: -20px;
              left: 20px;
          }
        }
      }
    }
    .flex{
      display: block;
    }
    .letters{
      display: none;
    }
  }

  #two-column{
    padding-bottom: 0;
    h2 {
      font-size: 48px;
    }
    .container.flex{
      padding: 0;
      flex-direction: column;
      .w-1\/2{
        &:first-of-type{
          order: 2;
        }
        &:last-of-type{
          padding: 22px;
          order:1;
        }
      }
    }
  }

  .services-menu {
    .service-grid {
      .service-item {
        h3{
          font-size: 24px;
        }

        //.color-section {
        //  width: 251px;
        //  height: 200px;
        //  padding: 25px;
        //}
        //
        //.w-1\/3 {
        //  width: 150px;
        //  height: 200px;
        //}
      }

      img.service-arrow {
        width: 25px;
      }
    }
  }

  .maze-video {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
    p {
      .marketing-video {
        min-width: 100% !important;
      }
    }
  }

  .service-grid > .service-item:nth-child(2) .service-link {
    flex-direction: row-reverse !important;

    .service-arrow {
      transform: rotate(90deg) !important;
    }
  }

  .service-grid > .service-item:nth-child(3) .service-link {
    flex-direction: row !important;

    .service-arrow {
      transform: rotate(270deg) !important;
    }
  }

  .maze-video img {
    display: none;
  }

  #services-menu{
    .container{
      padding: 0;
    }
    img.services-image {
      right: 20px;
      bottom: -56px;
      z-index: -1;
    }
  }

  .blog-parent > div{
    width: 100%;
  }

  .latest-blog {
    .container {
      padding: 22px;
    }
    .blog-heading {
      h3 {
        margin-left: 0;
        font-size: 40px;
      }
    }
    .cover-image {
      height: 200px;
    }

    .news-block-post .blog-arrow {
      position: absolute;
      right: 0;
      bottom: 30px;
    }
  }

  .contact-block {
    .container {
      padding: 0;
    }

    .placeholder {
      height: 0;
    }

    h4 {
      font-size: 24px;
    }

    .form-bottom::after {
      content: '';
      background-image: url(../images/turquiose-arrow.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      width: 20px;
      height: 20px;
      right: 0;
      left: 76px;
      top: -2px;
    }
    .image-section {
      height: 240px;
    }
  }
  .form-section {
    padding-left: 22px;
    padding-right: 22px;
  }
  .contact-block input[type="submit"] {
    text-align: left;
    left: 0;
  }

  #menu-footer-menu-2 {
    display: none;
  }

  #footer {
    .social-icons {
      margin-top: 40px;
    }

    .copyright .footer-logo img {
      width: 76px;
      margin-left: auto;
      margin-bottom: 0;
    }

    .container {
      padding-left: 22px;
      padding-right: 22px;
    }

    ul {
      li {
        font-size: 14px;
        padding-bottom: 0.5rem;
      }
    }
  }
  .footer-legal {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }

    #nav_menu-4 {
      display: flex;
      width: 100%;
      align-items: center;

      ul#menu-copyright {
          display: block;
          justify-content: space-between;

          li {
              font-size: 13px;
              
              a {
                  color: $primary-blue;
              }

              &:nth-child(2) {
                  margin-left: 0;
                  margin-top: 0.5rem;
              }
          }
      }

      .menu-copyright-container {
          width: 100%;
          display: flex;
      }
    }
  }

  // Services overview page
  h1.underline-color-turquoise::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 1.2rem 0;
    width: 20%;
    border-bottom: 2px solid #4CCEDE;
    position: absolute;
  }

  h1.underline-color-dark-blue::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 0.7rem 0;
    width: 20%;
    border-bottom: 2px solid $primary-blue;
    position: absolute;
  }

  .header-content-block {
    .image-section {
      img {
        width: 83%;
        margin: 0 auto;
        padding-bottom: 30px;
      }
    }
  }

  .services-content {
    padding-bottom: 1.5rem;

    .container {
      padding: 0;
    }

    .flex {
      justify-content: center;
    }

    .service-content-item {
      height: unset !important;
      padding-top: 32px;
      padding-left: 20px;
      padding-right: 20px;
      border: unset;
      margin-bottom: 4px;

      .image-container img {
        position: unset;
        margin: unset;
        margin-left: auto;
      }

      img.service-arrow {
        top: unset;
        transform: rotate(-90deg);
      }
    }
  }

  .story-block {
    p {
      padding-top: 16px;
    }

    img.wayfinders {
      left: 30px;
      bottom: -30px;
    }

    img {
      padding-top: 8px;
    }
  }

  // single services page
  .transparent {
    background: transparent !important;
  }

  // mobile menu bg
  .navigation-holder.white-header {
    background-color: white;
  }
  .navigation-holder.blue-header {
    background-color: white;
  }
  .navigation-holder.white-header {
    background-color: white;
  }
}


@media (max-width: 550px) {
  #home-header{
    .w-1\/2{
      width: 100%;
      .w-1\/2{
        width: 50%;
        height: unset !important;
      }
    }
  }
  
  .below-fold {
    .letters {
      .letter-2 {
        top: 29rem;
      }
    }
  }
}

.services-below-fold {
  // video
  .service-image {
    img {
      &.play-button {
        position: absolute;
      }
    }
  }

  .service-main-video {
    min-width: 100%;
    height: 110%;
    overflow: hidden;

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

@media(min-width: 1279px) and (max-width: 1280px) {
  .video-holder {
    position: absolute;
    width: 70% !important;
    left: 50%;
    margin: 0 auto;
    top: 53% !important;
  }
}