@keyframes animateLinks {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
          opacity: 1;
          transform: translateX(0px);
      }
}


.menu__icon {
    height: 32px;
    width: 43px;
    margin: 1%;
    position: fixed;
    top: 12px;
    right: 3%;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
}

.menu__icon span {
    display: block;
    background: $primary-blue;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    position: absolute;
    left: 0;
    top: 50%;
}

.menu__icon:before,
.menu__icon:after {
    content: "";
    display: block;
    background: $primary-blue;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menu__icon:before {
    top: 14px;
    margin-top: -2px;
}

.menu__icon:after {
    bottom: 2px;
    margin-bottom: -2px;
}


.menu_shown .menu__icon span {
    background: transparent;
    transition: background 0.2s ease;
}

.menu_shown .menu__icon:before {
    top: 50%;
    transform: rotate(45deg);
}

.menu_shown .menu__icon:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

@media (max-width: 1023px) {

    .mobile-header{
        height:72px;
        background-color: $shade-2;
        position: fixed;
        top:0;
        width: 100%;
        box-sizing: border-box;
        z-index: 999999999;
        .logo-holder {
            max-height:72px;
            max-width: 50%;
            padding-top:10px;
            img {
                width:90px;
                margin-left: 1.3rem;
            }
        }

    }


    .mobile-menu-header {
        z-index: 9999;
        background: white;
        height: 72px;
        top: 0;
    }


    svg.arrow {
        float: right;
        margin-top: 10px;
    }


    .lightblue {
        background-color: $secondary-lightblue;
    }
    .purple {
        background-color: $secondary-purple;
    }
    .turquoise {
        background-color: $secondary-turquoise;
    }
    .blue {
        background-color: $secondary-blue;
    }

    .purple-secondary {
        .arrow path {
            fill: $secondary-purple;
        }
    }

    .lightblue-secondary {
        .arrow path {
            fill: $secondary-lightblue;
        }
    }

    .turquoise-secondary {
        .arrow {
            margin-top: -3px;
            path {
                margin-top: -2rem;
                fill: $secondary-turquoise;
            }
        }
    }

    .blue-secondary {
        .arrow path {

            fill: $secondary-blue;
        }
    }


    .menu-mobile-menu-container {
        margin-left: 0;

    }

}

// m-sub-menu

.mobile-main-menu {
    position: fixed;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 101;
    background: #fff;
    padding-top: calc(72px + 40px);

    transition: all 0.2s ease;
    pointer-events: none;
    overflow-y: auto;
    
    
    .m-menu-item {
        @apply flex flex-row items-center;
        .m-menu-link {
            @apply w-full px-3 py-2;
            color: $primary-blue;
            font-size: 2rem;
        }
        
        .next-level {
            @apply flex-shrink-0 px-3 py-2;
        }
    }
    
    .m-back-button {
        @apply flex flex-row items-center w-full px-3 py-2;
        color: $primary-blue;
        margin-bottom: 30px;
        
        svg {
            display: inline-block;
            transform: rotate(180deg);
            margin-right: 10px;
        }
    }

    .m-sub-menu {
        position: absolute;
        top: 0;
        left: 100vw;
        right: auto;
        width: 100vw;
        height: 100%;
        background-color: #fff;
        z-index: 102;
        transition: all 0.3s ease;
        padding-top: calc(72px + 40px);

        // opacity: 0;
        &.active {
            // opacity: 1;
            left: 0;
        }

        .m-menu-item .m-menu-link {
            font-size: 1.5rem;
        }

        &.lightblue-secondary {
            background-color: $secondary-lightblue;
            .arrow path {
                fill: $primary-blue;
            }
        }

        &.purple-secondary {
            background-color: $secondary-purple;
            .arrow path {
                fill: #fff;
            }
            .m-menu-item .m-menu-link,
            .m-back-button {
                color: #fff;
            }
        }

        &.turquoise-secondary {
            background-color: $secondary-turquoise;
            .arrow path {
                fill: $primary-blue;
            }
        }

        &.blue-secondary {
            background-color: $secondary-blue;
            .arrow path {
                fill: #fff;
            }
            .m-menu-item .m-menu-link,
            .m-back-button {
                color: #fff;
            }

        }
    }
}

@media (max-width: 1023px) {
    .mobile-main-menu {
        svg.arrow {
            float: none;
            margin-top: 0;
        }
    }
}

body.menu_shown {
    .mobile-main-menu {
        left: 0;
        pointer-events: all;
    }
} 