@media(max-width: 1279px) {
  .more-services {
    .menu-items {
      left: 9.7%;
    }
  }
  .services-content-item {
    height: 420px !important;
  }
}

@media(max-width: 1024px) {

  body {
    &.single-our_services {
      margin-top: 0;
    }
  }
  .menu_shown {
    .mobile-header {
      background: white;
      &.white-header {
        .menu__icon:before, .menu__icon:after {
          background: $primary-blue;
        }
        svg.mobile-site-logo {
          margin-left: 1.5rem;
  
          path {
            fill: $primary-blue;
          }
        }
      }
    }
  }
  
  .mobile-header {

    svg.mobile-site-logo {
      margin-top: -3px;
      margin-left: 1.5rem;
    }

    .menu__icon:before, .menu__icon:after {
      background: $primary-blue;
      width: 80%;
    }

    &.shrink {
      box-shadow: -1px -8px 11px 4px rgba(0, 0, 0, 0.75);
    }

    &.white-header {
      svg.mobile-site-logo {
        margin-top: -3px;
        margin-left: 1.5rem;

        path {
          fill: white;
        }
      }
      .menu__icon:before, .menu__icon:after {
        background: white;
        width: 80%;
      }

      &.shrink {
        background-color: white;
        box-shadow: -1px -8px 11px 4px rgba(0, 0, 0, 0.75);

        svg.mobile-site-logo {
          margin-left: 1.4rem;
  
          path {
            fill: $primary-blue;
          }
        }
        .menu__icon:before, .menu__icon:after {
          background: $primary-blue;
        }
      }
    }
    &.blue-header {
      svg.mobile-site-logo {
        margin-top: -3px;
        margin-left: 1.4rem;

        path {
          fill: $primary-blue;
        }
      }
      .menu__icon:before, .menu__icon:after {
        background: $primary-blue;
        width: 80%;
      }

      &.shrink {
        background-color: white;
        box-shadow: -1px -8px 11px 4px rgba(0, 0, 0, 0.75);

        svg.mobile-site-logo {
          margin-left: 1.4rem;
  
          path {
            fill: $primary-blue;
          }
        }
        .menu__icon:before, .menu__icon:after {
          background: $primary-blue;
        }
      }
    }
  }

  .single-our_services {
    .header-content-block {
      &.purple-block,
      &.lightblue-block,
      &.turquoise-block,
      &.blue-block {
        padding-top: 4rem;
      }
  
      .sitewide-header {
        margin-bottom: 38px;
      }
  
      h1.underline-color-white:after {
        bottom: -20px;
      }
    }
  }

  .services-below-fold {
    .bf-holder {

      p:first-child {
        padding-top: 1rem;
      }

      p {
        padding-top: 0;
      }

    }
  }

  .locations-block {
    .tab-content {
      .single-location {
        width: 28%;
      }
    }
  }

  .service-grid .color-section h3 {
    line-height: 1.1;
    font-size: 23px;
  }

  .service-grid .color-section img {
    position: absolute;
    bottom: 34px;
  }

  .latest-blog {
    .news-block-post {
      .inner {
        flex-direction: column-reverse;
      }
    }
  }  

  .latest-blog-holder {
    height: unset !important;
  }

  // .page-template-page_our-services {
  //   .service-content-item {
  //     img.service-arrow {
  //       top: 205px !important;
  //     }
  //   }
  // }

  h1 {
    &.underline-color-dark-blue {
      &::after {
        margin: 1rem 0;
        width: 20%;
      }
    }
  }

  .header-content-block {
    &.darkblue-block {
      .container {
        padding-top: 10rem;
      }
    }
    &.lightblue-block {
      .container {
        padding-top: 10rem;
        padding-bottom: 7rem;
      }
    }
    &.purple-block {
      .container {
        padding-top: 5rem;
        padding-bottom: 7rem;
      }
    }
    &.turquoise-block {
      .container {
        padding-top: 10rem;
        padding-bottom: 7rem;
      }
    }
    &.blue-block {
      .container {
        padding-top: 20rem;
        padding-bottom: 7rem;
      }
    }
  }
  .article .article-holder {
    margin-top: -20rem;
    position: relative;
    z-index: 2;
  }
  .article {
    .article-image {
      height: 394px !important;
    }
  }

  .page-template-page_about {
    &.page-child {
      .lightblue-border {
        .bf-holder {
          width: 100%;
        }
      }

      .sub-service-items {
        padding-top: 2rem;

        .sub-services-item {
          &.placeholder-item {
            padding-bottom: 0;
          }
        }
      }
    }

    .ive-care-informational-items {
      .placeholder-item {
        margin-top: 0;
      }
    }

    .single-about-items-grid {
      .single-about-item {
        margin-right: 0 !important;
      }

      .top-width {
        &:nth-child(1) {
          .single-about-item {
            border: 1px solid $secondary-purple !important;
            &::before {
              content: '';
              width: 25px;
              height: 25px;
              position: absolute;
              top: -12px;
              left: 7px !important;
            }
          }
        }
        &:nth-child(2) {
          .single-about-item {
            border: 1px solid $secondary-lightblue !important;
            &::after {
              content: '';
              width: 25px;
              height: 25px;
              position: absolute;
              top: -12px;
              left: 7px;
              transform: rotate(270deg);
            }
          }
        }
        &:nth-child(3) {
          .single-about-item {
            border: 1px solid $secondary-turquoise !important;
            &::before {
              content: '';
              width: 25px;
              height: 25px;
              position: absolute;
              top: -12px;
              left: 7px !important;
              transform: rotate(90deg);
            }
          }
        }
        &:nth-child(4) {
          .single-about-item {
            border: 1px solid $secondary-blue !important;
            &::after {
              content: '';
              width: 25px;
              height: 25px;
              position: absolute;
              top: -12px;
              left: 7px !important;
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  .executive-team {
    .executive {
      .exec-bg {
        height: 466px;
      }
    }
  }

  .executive-team {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
    .executive {
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;

      .exec-bg {
        &.ive-placeholder {
          margin-top: 0;
        }
      }
    }
  }

  .first-level-execs {
    .executive {
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;

      &:nth-child(1) {
        padding-top: 40px;
      }

      &:nth-child(3) {
        border-bottom: none;
      }

      .exec-image {
        &:nth-child(1) {
          margin-right: 0;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      .ive-placeholder {
        padding-top: 0;
      }
    }
  }

  .second-level-execs {
    .executive {
      &:first-child {
        padding-top: 10px;
      }

      .exec-image {
        &:first-child {
          margin-right: 0;
        }
      }

      &:last-child {
        padding-top: 25px;
        border-bottom: none;
      }
    }
  }


  .more-services {
    .menu-items {
      left: 9%;
    }
    .more-services-section {
      h3 {
        font-size: 32px;
      }
    }
  }

  #more-about-ive {
    padding-top: 7rem;
    padding-bottom: 22rem;

    .container {
      padding: 0;
    }

    .colored-section {
      // padding-left: 27px;
      padding-right: 27px;
      padding-top: 36px;
      padding-bottom: 39px;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 62%;
      }
    }
      
    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -11.5%;
      bottom: -8rem;
      margin-top: -50px;
      width: 89%;

      a {
        margin-bottom: 3px;

        &:nth-child(2) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }

        &:nth-child(3) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }
      }
    }
    
    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 466px;
      width: 100%;
    }

    .transform-arrow {
      svg {
        width: 8%;
        position: absolute;
        right: 20px;
        top: 40px;
        transform: scale(1.5);
      }
    }

    .more-services-section {
      height: auto;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      // padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6.8rem;

      h3 {
        margin-top: 1rem;
        font-size: 42px;
        width: 100%;
        max-width: 45%;
      }
    }
  }

  .more-services {
    padding-top: 7rem;
    padding-bottom: 23rem;

    .container {
      padding: 0;
    }

    .colored-section {
      // padding-left: 27px;
      padding-right: 27px;
      padding-top: 36px;
      padding-bottom: 39px;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 62%;
      }
    }

    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -11.5%;
      bottom: -8rem;
      margin-top: -50px;
      width: 89%;

      a {
        margin-bottom: 3px;

        &:nth-child(2) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }

        &:nth-child(3) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }
      }
    }
    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 466px;
      width: 100%;
    }

    .transform-arrow {
      svg {
        width: 8%;
        position: absolute;
        right: 20px;
        top: 40px;
        transform: scale(1.5);
      }
    }

    .more-services-section {
      height: auto;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      // padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6.8rem;

      h3 {
        margin-top: 1rem;
        font-size: 42px;
        width: 100%;
        max-width: 80%;
      }
    }
  }
}


@media(min-width: 768px) and (max-width: 1014px) {
  //  .container div:first-child {
  //   padding: 22px;
  //   padding-bottom: 6rem;
  //   padding-top: 7rem;
  // }
  .article-header {
    .container {
      padding-top: 5rem;
    }
  }
  // .services-below-fold {
  //   padding-top: 1.5rem;
  // }
  .ive-switchable-columns {
    padding-top: 2rem; 
  }
  .sub-services-item {
    &.empty-service {
      margin-top: -2rem;
    }
    .sub-services-content {
      p {
        padding-bottom: 1rem;
        margin-bottom: 0;
      }
    }
  }

  #more-services {
    padding-top: 10rem;
    padding-bottom: 23rem;

    .container {
      padding: 0;
    }

    .colored-section {
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 36px;
      padding-bottom: 39px;
      position: relative;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 62%;
      }
    }
      
    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -11.5%;
      bottom: -16.5rem;
      margin-top: -50px;
      width: 89%;

      a {
        margin-bottom: 3px;

        &:nth-child(2) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }

        &:nth-child(3) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }
      }
    }

    .news-grid {
      .post-image-holder {
        .cover-image {
          height: 210px;
        }
      }
    }
    
    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      width: 95%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 466px;
      width: 100%;
    }

    .transform-arrow img {
      width: 4%;
      position: absolute;
      right: 30px;
      top: 26px;
    }

    .transform-arrow {
      p {
        display: none;
      }
    }

    .more-services-section {
      height: 34%;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6rem;

      h3 {
        margin-top: 1rem;
        font-size: 42px;
        width: 100%;
        max-width: 45%;
      }
    }
  }

  .services-below-fold {
    padding-top: 3rem;
  }
}

@media(max-width: 990px) {
  body.home, body.single-post {
    margin-top: 74px;
  }
	.lasoo-footer {
		position: unset;
		bottom: 0;
	}
  .services-content-item {
    height: 420px !important;
  }
  #more-services .transform-arrow img {
    width: 7% !important;
    position: absolute;
    right: 30px;
    top: 42px;
  }
  #more-services .menu-items {
    bottom: -20.5rem !important;
  }
  .nav-box .before-link, .nav-box .after-link {
    width: calc(100% - -310px);
    background-color: #EAF4FC;
  }
}

@media all and (max-width:800px) {

  .header-content-block.services-overview-page h1.underline-color-turquoise::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 1rem 0;
    width: 15.5%;
    border-bottom: 2px solid #4CCEDE;
    position: absolute;
  }

  #home-header .w-1\/2 .w-1\/2 {
    width: 50%;
    height: unset !important;
  }

  .footer-white {
    .lasoo-footer {
      a {
          margin-top: 0;
      }
    }
  }
  .footer-blue {
    .lasoo-footer {
      a {
          margin-top: 0;
      }
    }
  }

  .contact-block .wpcf7 form .wpcf7-response-output {
    right: 0;
  }

  .contact-block {
    div.wpcf7 .ajax-loader {
      margin-left: auto;
      display: block;
    }

    .wpcf7 form .wpcf7-response-output {
      font-size: 11px;
    }
  }

  .contact-block input[type="submit"] {
    bottom: -17px;
  }

  .wpcf7 form.sent .wpcf7-response-output {
    color: white !important;
  }

  .more-sub-services {
    padding-bottom: 3rem;
    
    div[class^="w-"] {
      width: unset !important;
      width: 50% !important;
    }

    h3 {
      line-height: 1;
    }

    .sub-title p{
      font-size: 1rem;
    }
  }

  .more-item {
    width: 50%;
  }

  .more-sub-services {
    .container {
      padding-left: 22px;
      padding-right: 22px;

      h3 {
        padding-bottom: 1rem;
      }
    }
  }

  .more-sub-services .sub-service-bg {
    height: 95px;
    -o-object-fit: contain;
    object-fit: contain;
    border-right: 1rem solid white;
    width: 61%;
  }

  .services-below-fold .gallery .w-1\/3 {
    margin-left: 2px !important;
    margin-bottom: 2px !important;
    margin: unset;
    width: 121px;
    height: 114px;
  }

  .gallery-title {
    font-size: 21px;
  }

  .services-below-fold {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .our_services-template-single-our-services {
    .services-below-fold .container div:first-of-type {
      order: 1;
      margin-bottom: 0;
    }

    .about-bottom-content {
      padding: 2rem 0;

      .content-holder {
        img.pos-left {
          position: absolute;
          left: 3px;
          bottom: -2rem !important;
          z-index: -1;
        }
        img.pos-right {
          position: absolute;
          right: 0;
          bottom: -35px !important;
          z-index: -1;
        }
      }
    }
  }

  .locations-block {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
    .tab-content {
      .single-location {
        width: 100%;
        background: none;
        border-bottom: 1px solid #f2f2f2;
        padding-left: 0;
        margin-right: 0;
        margin-top: 8px;
        margin-bottom: 8px;
      }
    }
  }

  .ive-care {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }

    padding-top: 1rem;
    padding-bottom: 0.5rem;

    h1 {
      font-size: 40px;

      &::after {
        content: '';
        display: block;
        margin: 0 auto;
        margin-top: 0.3rem;
        width: 17%;
        border-bottom: 2px solid $secondary-turquoise;
        position: absolute;
      }
    }
  }

  .tab-links {
    overflow-x: scroll;
  }

  #services-menu{
    .service-grid{
      .service-item{
        .color-section {
          width: 65%;
          height: 200px;
          padding: 25px;
        }
        .w-1\/3 {
          width: 35%;
          height: 200px;
          overflow: hidden;
          image.object-contain{
            height: 200px;
            width: auto;
          }
        }
      }
    }
  }


  // Service Page Single

  #header-content-block{
    margin-bottom: 30px;
    .container{
      padding: 0;
      div:first-child{
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 40px;
        div{
          padding: 0;
          p {
            font-family: $primary-light;
          }
        }
      }
    }

    &.purple-block {
      .service-content-section p {
        font-family: $primary-regular !important;
      }
      .image-section {
        padding-top: 20px;
        
        img {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }
    
    &.lightblue-block {
      .service-content-section p {
        font-family: $primary-regular !important;
      }
      .image-section {
        padding-top: 20px;
        
        img {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }

    &.blue-block {
      .service-content-section p {
        font-family: $primary-regular !important;
      }
      .image-section {
        padding-top: 20px;
        
        img {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }

    &.turquoise-block {
      .service-content-section p {
        font-family: $primary-regular !important;
      }
      .image-section {
        padding-top: 20px;
        
        img {
          width: 100%;
          padding-bottom: 0;
        }
      }
    }
  }

  .header-content-block h1{
    font-size: 40px;
  }

  h1.underline-color-white{
    position: relative;
    &:after{
      position: absolute;
      width: 78px;
      margin: 0;
      bottom: -15px;
    }
  }

  .services-below-fold{
    .container{
      padding: 0;
      padding-left: 22px;
      padding-right: 22px;
      flex-direction: column;
      div:first-of-type{
        order: 2;
        margin-bottom: 30px;
      }
    }
  }

  #sub-services{
    .container {
      padding: 0;
      padding-left: 22px;
      padding-right: 22px;
    }
    .decorative-holder{
      display: none;
    }
    .sub-service-items{
      .placeholder-item {
        padding-bottom: 18px;
        padding-top: 0;
      }
      .sub-services-item{
        border-right: none;
        border-bottom: 1px solid $border-color;

        &:last-of-type {
          .transform-arrow {
            display: none;
          }
          padding-top: 2rem;
          border-bottom: none;
        }
      }

      .empty-service {
        .transform-arrow {
          display: none;
        }
      }
    }

    .sub-services-item {
      p {
        padding-bottom: 1.5rem;
        @apply mb-0;
      }
    }
  }

  #more-about-ive {
    padding-top: 7rem;
    padding-bottom: 23rem;

    .container {
      padding: 0;
    }

    .colored-section {
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 37px;
      padding-bottom: 36px;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 62%;
      }
    }
      
    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -11.5%;
      bottom: -19rem;
      margin-top: -50px;
      width: 89%;
     
      a {
        margin-bottom: 3px;

        &:nth-child(2) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }

        &:nth-child(3) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }
      }
    }
    
    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      width: 95%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 250px;
    }

    .transform-arrow {
      p {
        display: none;
      }
      svg {
        width: 8%;
        position: absolute;
        right: 20px;
        top: 40px;
        transform: scale(1.5);
      }
    }

    .more-services-section {
      height: auto;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      // padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6.8rem;

      h3 {
        margin-top: 1rem;
        font-size: 32px !important;
        width: 100%;
        max-width: 70%;
      }
    }
  }

  #more-services {
    padding-top: 9rem;
    padding-bottom: 17rem;
    .container {
      padding: 0;
    }
    .colored-section {

      padding-left: 27px;
      padding-right: 27px;
      padding-top: 26px;
      padding-bottom: 29px;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 62%;
      }
    }  

    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -13.5%;
      bottom: -19.5rem;
      margin-top: -50px;
      width: 93%;
    }

    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      width: 95%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 250px;
    }

    .transform-arrow {
      p {
        display: none;
      }
      img {
        width: 8%;
        position: absolute;
        right: 30px;
        top: 42px;
      }
    }

    .more-services-section {
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      // padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6rem;

      h3 {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 2rem;
      }
    }
  }

  .news-block-post {
    .inner {
      flex-direction: column-reverse;
    }
  }

  .executive-team {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
    .executive {
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;

      .exec-bg {
        height: 216px;

        &.ive-placeholder {
          margin-top: 0;
        }
      }
    }
  }

  .first-level-execs {
    .executive {
      padding-top: 30px;
      padding-bottom: 15px;
      border-bottom: 1px solid #f2f2f2;

      &:nth-child(1) {
        padding-top: 15px;
      }

      &:nth-child(3) {
        border-bottom: none;
      }

      .exec-image {
        &:nth-child(1) {
          margin-right: 0;
        }
      }

      &:last-child {
        margin-top: -1.5rem;
        border-bottom: none;
      }
    }
  }

  .second-level-execs {
    .executive {
      &:first-child {
        padding-top: 10px;
      }

      .exec-image {
        &:first-child {
          margin-right: 0;
        }
      }

      &:last-child {
        padding-top: 25px;
      }
    }
  }

  .blog-page{
    .container {
      padding: 0;
      padding-left: 22px;
      padding-right: 22px;
    }

    .blog-header{
      padding: 30px 22px 40px 22px;
      .container{
        padding: 0;
        p{
          margin: 0;
        }
      }
      img.news-spiral{
        top:-4.2rem;
        width: 56%;
      }
      h1{
        font-size: 40px;
        margin-bottom: 5px;
        position: relative;
        &:after{
          bottom: -10px;
          margin: 0;
          width: 80px;
        }
      }
    }

    .latest-post{
      padding: 0;
      .latest-blog-holder{
        height: auto;
        padding: 22px;
        &.flex{
          flex-direction: column-reverse;
        }
        .featured-content{
          padding: 15px 0px 0px 0px;
          .learn-more{
            padding-top: 0;
          }
        }
      }
    }

    .fade-group {
      padding-top: 0 !important;
    }

    .news-grid{
      padding-top: 30px;
      .news-block-post{
        border: none;
        border-bottom: 1px solid $border-color;
        .inner{
          &.flex{
            flex-direction: column-reverse;
          }
          div{
            padding: 0;
            height: auto;
          }
          .post-image-holder {
            .cover-image {
              height: 210px;
            }
          }
          .post-link-holder{
            padding-top: 1rem;
            .display-date{
              display: block;
            }
            .post-links{
              display: flex;
              align-items: center;
              justify-content: center;
              a.news-block-title-link{
                display: block;
                width: calc(100% - 46px);
                p.news-block-title{
                  margin: 0;
                }
              }
              a.blog-arrow-link{
                display: block;
                height:16px;
                width: 18px;
                margin-left: 30px;
              }
            }
          }
        }
      }
    }
  }
  .news-block-post .blog-arrow{
    position: relative;
  }

  .article {
    .article-holder {
      margin-top: 0;

      &.container {
        padding: 0;
      }
    }
    
    .article-header {
      padding-bottom: 1rem;
      .container {
        padding-left: 22px;
        padding-right: 22px;
      }

      h1 {
        font-size: 2.5rem;
      }
      p.date {
        font-size: 1rem;
      }
    }
    .article-content {
      padding-left: 22px;
      padding-right: 22px;
    }
    .before-link,
    .after-link,
    .prev-image {
      display: none;
    }

    .navigation {
      border-top: none;
    }

    .mobile-nav {
      border-top: 1px solid $border-color;

      a {
        font-size: 14px;
        color: $primary-blue;
      }

      a.previous {
        margin-left: 8px;
      }

      a.next {
        margin-right: 8px;
      }

      a.previous::before {
        content: '';
        background-image: url('../images/before-arrow.svg');
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 8px;
      }

      a.next::after {
        content: '';
        background-image: url('../images/after-arrow.svg');
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 8px;
      }
    }
  }

  .page-template-page_about {
    &.page-parent {
      .ive-switchable-columns {
        .content-holder {
          img {
            z-index: -1;
            left: 0px;
            bottom: -2.8rem;
          }
        }
      }
    }

    &.page-child {
      .darkblue-block {
        padding-bottom: 0;
      }

      .header-content-block {
        &.darkblue-block {
          .image-section {
            img {
              padding-bottom: 0;
            }
          }
        }
      }

      .bf-holder {
        width: 100%;
      }

      .services-single-arrow {
        display: none;
      }

      .single-about-content {
        .container {
          padding-left: 22px;
          padding-right: 22px;
        }

        .top-width {
          margin-bottom: 2rem;
        }

        .single-about-items-grid {
          .single-about-item {
            height: 100%;
            margin-right: 0;
          }
        }
      }
    }
  }

  .ive-switchable-columns,
  .about-header-block {
    .container {
      padding-left: 22px;
      padding-right: 22px;
    }
  }

  .about-header-block {
    h1.sitewide-header {
      font-size: 40px;

      &::after {
        content: '';
        width: 17.5%;
        margin-top: 0.9rem;
      }
    }

    p {
      padding-top: 1rem;
      line-height: 1.5;
    }
  }
}

@media(min-width: 767px) and (max-width: 768px) {
  .more-sub-services .sub-service-bg {
    height: 260px; 
    -o-object-fit: contain;
    object-fit: contain;
    border-right: 1rem solid white;
    width: unset;
  }
  .more-sub-services {
    .zoom-bg {
      width: 100%;
    }
  }
}

@media(min-width: 650px) and (max-width: 768px) {
  .below-fold .container div:first-child {
    padding: 22px;
    padding-bottom: 6rem;
    padding-top: 7rem;
  }
}

@media(min-width: 514px) and (max-width: 1023px) {
  #more-services {
    padding-top: 10rem;
    padding-bottom: 23rem;

    .container {
      padding: 0;
    }

    .colored-section {
      padding-left: 27px;
      padding-right: 27px;
      padding-top: 36px;
      padding-bottom: 39px;
      position: relative;

      h3 {
        font-size: 24px;
        padding-bottom: 0 !important;
        @apply mb-0;
        max-width: 37%;
      }
    }
      
    .menu-items {
      position: absolute;
      left: 17%;
      margin-left: -11.5%;
      bottom: -16.5rem;
      margin-top: -50px;
      width: 89%;

      a {
        margin-bottom: 3px;

        &:nth-child(2) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }

        &:nth-child(3) {
          svg {
            path {
              fill: $primary-blue;
            }
          }
        }
      }
    }

    .services-inner-arrow img {
      width: 20%;
      right: 12px;
      top: 14px;  
    }

    .more-services-item {
      width: 95%;
      margin: 0 auto;
      position: relative;
      margin-bottom: 4px;
    }

    .more-services-bg {
      padding: 0;
      height: 466px;
      width: 100%;
    }

    .transform-arrow img {
      width: 4%;
      position: absolute;
      right: 30px;
      top: 43px;
    }

    .more-services-section {
      height: 34%;
      padding-left: 22px;
      padding-right: 22px;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 89%;
      position: absolute;
      left: 5.5%;
      top: -6rem;

      h3 {
        margin-top: 1rem;
        font-size: 42px;
        width: 100%;
        max-width: 45%;
      }
    }
  }
}

@media (min-width: 801px) and (max-width: 1023px) {
  a.service-content-item {
    img.service-arrow {
      position: absolute;
      top: 260px;
    }
  }
  .transform-arrow {
    p {
      display: none;
    }
  }
  .more-services .more-services-item {
    width: 90%;
    height: 100%;
  }
}

@media (min-width: 1023px) and (max-width: 1286px) {
  .more-sub-services {
    .zoom-bg {
      width: 95%;
    }
  }
}

@media (min-width: 410px) and (max-width: 411px) {
  .more-sub-services {
    .zoom-bg {
      width: 316px;
    }
  }
}

@media(max-width: 320px) {
  .more-sub-services {
    .zoom-bg {
      width: 243px;
    }
  }
}