// Services 
.text-blue {
    color: $primary-blue !important;
}

.header-content-block {
    h1 {
        font-size: $services-heading;
        line-height: 1.1;
    }
    strong {
        font-size: $services-text;
        line-height: 1.5;
    }
    p {
        font-family: $primary-regular;
        font-size: 1rem;
        line-height: 1.7;
    }

    &.services-overview-page {
        strong {
            font-weight: 400;
        }

        .container {
            padding-top: 120px;
        }

        h1 {
            &.underline-color-turquoise {
                &::after {
                    content: '';
                    display: block;
                    margin: 0 auto;
                    margin: 1.2rem 0; 
                    width: 3.5%;  
                    border-bottom: 2px solid $secondary-turquoise;
                    position: absolute;
                }
            }
        }

        .service-content-section {
            padding-top: 10px;
        }
    }

    &.darkblue-block {
        .container {
            padding-bottom: 5rem;
        }
        .image-section {
            img {
                width: 90%;
            }
        }
        .service-content-section {
            p {
                font-family: $primary-light;
            }
        }
    }
}

.service-content-grid {
    a {
        display: flex !important;
    }
}

a.service-content-item {
    border: 2px solid white;
    @media(max-width: 1300px) {
        padding-left: 46px;
        height: 490px;
    }

    @media (min-width: 1200px) {
        height: 570px;
    }
    
    h3 {
        line-height: 1.1;
        font-size: 2rem;
    }

    img.service-arrow {
        position: absolute;
        top: 0;
        // @media(max-width: 1300px) {
        //     top: 231px;
        // }
    }

    p {
        padding-bottom: 0.8rem;
        font-size: 0.875rem;
        line-height: 1.5;
    }
}



@media(max-width: 1280px) {
    .our_services-template-single-sub-service {
        .blue-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/turq-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 118% !important;
                    width: 90%;
                    position: absolute;
                    top: 116px !important;
                    right: -11.6rem !important;
                    z-index: -1;         
                }
            }
        }
        .purple-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/white-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 118% !important;
                    width: 90%;
                    position: absolute;
                    top: 116px !important;
                    right: -11.6rem !important;
                    z-index: -1;            
                }
            }
        }
        .turquoise-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/blue-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 118% !important;
                    width: 90%;
                    position: absolute;
                    top: 116px !important;
                    right: -11.6rem !important;
                    z-index: -1;            
                }
            }
        }
        .lightblue-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/blue-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 118% !important;
                    width: 90%;
                    position: absolute;
                    top: 116px !important;
                    right: -11.6rem !important;
                    z-index: -1;              
                }
            }
        }
    }
}

@media (min-width: 990px) {
    .our_services-template-single-sub-service {
        .blue-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/turq-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 96%;
                    width: 78%;
                    position: absolute;
                    top: 148px;
                    right: -14.7rem;
                    z-index: -1;            
                }
            }
        }
        .purple-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/white-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 96%;
                    width: 78%;
                    position: absolute;
                    top: 148px;
                    right: -14.7rem;
                    z-index: -1;                
                }
            }
        }
        .turquoise-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/blue-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 96%;
                    width: 78%;
                    position: absolute;
                    top: 148px;
                    right: -14.7rem;
                    z-index: -1;                 
                }
            }
        }
        .lightblue-block {
            overflow: hidden;
            .image-section {
    
                &::after {
                    content: '';
                    background-image: url(../images/blue-spiral.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 96%;
                    width: 78%;
                    position: absolute;
                    top: 148px;
                    right: -14.7rem;
                    z-index: -1;                  
                }
            }
        }
    }
}

.our_services-template-single-our-services {
    .about-bottom-content {
        .content-holder {
            img {
                bottom: unset !important;
            }
        }
    }
}


.image-container {
    img {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 80%;
    }
}

h1.underline-color-turquoise::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 1.7rem 0; 
    width: 5.5%;  
    border-bottom: 2px solid $secondary-turquoise;
    position: absolute;
}

h1.underline-color-white::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 1.7rem 0; 
    width: 3.5%;  
    border-bottom: 2px solid white;
    position: absolute;
}

h1.underline-color-dark-blue::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin: 1.7rem 0; 
    width: 3.5%;  
    border-bottom: 2px solid $primary-blue;
    position: absolute;
}

.services-below-fold {
    strong {
        font-size: $services-text;
        font-weight: normal;
        color: $primary-blue;
        @apply mt-2;
    }
    p {
        font-size: $standard-size;
        color: #333333;
    }
    ul {
        font-size: 1rem;
        font-family: $primary-light;
        list-style-type: disc;
        padding-left: 1rem;
    }
    strong,
    p {
        line-height: 1.5;
    }
    .bf-holder {
        border-top: 4px solid $secondary-purple;

        p {
            padding-top: 1rem;
            font-family: $primary-light;
        }
    }

    // sub service page
    .single-sub-service {
        span {
            line-height: 1.3 !important;
            color: $primary-blue;
            font-size: 1.125rem;
            position: relative;
            top: 1rem;
            display: block;
        }
    }

    .service-information {
        .information-item {
            p.service-title {
                color: $primary-blue;
                font-family: $primary-regular;
                font-size: 1.125rem;
                @apply mb-0 pt-3;
            }

            .service-content {
                border-bottom: 1px solid $border-color;
                @apply pb-2;
            }

            &:last-child {
                .service-content {
                    border-bottom: none;
                }
            }
        }
    }

    .gallery {
        .gal-1-col{
            width: 100%;
            margin: 2px;
        }
        .gal-2-col{
            width: calc(50% - 4px);
            margin: 2px;
        }
        .gal-3-col{
            width: calc(33.333333% - 4px);
            margin: 2px;
        }
        .gallery-item{
            position: relative;
            a.overlay{
                display: block;
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                width: 100%;
                height:100%;
                transition: all 0.5s;
                opacity: 0;
                &:hover{
                    opacity: 0.4;
                }
            }
        }
        .exclude-image {
            pointer-events: none;
        }
    }
}

.turquoise-border{
    .gallery{
        .gallery-item{
            a.overlay{
                background-color: $secondary-turquoise;
            }
        }
    }
}
.purple-border{
    .gallery{
        .gallery-item{
            a.overlay{
                background-color: $secondary-purple;
            }
        }
    }
}
.lightblue-border{
    .gallery{
        .gallery-item{
            a.overlay{
                background-color: $secondary-lightblue;
            }
        }
    }
}
.blue-border{
    .gallery{
        .gallery-item{
            a.overlay{
                background-color: $secondary-blue;
            }
        }
    }
}



.more-services {
    .more-services-section {
        background-color: $primary-blue;
        height: 500px;

        h3 {
            line-height: 1.1;
            font-size: $services-heading;
        }
    }
    .services-inner-arrow {
        img {
            position: absolute;
            right: 30px;
            top: 30px;
        }
    }
    .more-services-bg {
        height: 500px;
    }
    .menu-items {
        position: absolute;
        left: 18%;
        margin-left: -50px;
        bottom: -14%;
        margin-top: -50px;
    }
    .more-services-item {
        width: 310px;
        height: 100%;
        
        p {
            @apply mb-0;
        }

        .colored-section {
            h3 {
                font-size: 28px;
                line-height: 1.1;
                padding-bottom: 2.5rem;
            }
        }

        .transform-arrow {
            img {
                transform: rotate(-90deg);
                width: 5%;
            }

            p {
                font-weight: bold;
                font-size: 0.875rem;
                padding-left: 0.3rem;
            }
        }
    }
}

.mfp-container {
    background-color: #031d51;
}

.more-sub-services {
    h3 {
        color: $primary-blue;
        @apply mb-0;
    }

    .sub-service-bg {
        width: 100%;
        height: 185px;
        object-fit: contain;
    }

    .sub-title {
        img {
            margin-top: 2px;
        }
        p {
            color: $primary-blue;
            font-size: 1.125rem;
        }
    }
}

.purple-block,
.turquoise-block,
.lightblue-block,
.blue-block {
    .service-content-section {
        p {
            font-size: $standard-size;
        }
    }
}

.lightblue-border {
    .bf-holder {
        border-top: 4px solid $secondary-lightblue !important;
    }
}

.turquoise-border {
    .bf-holder {
        border-top: 4px solid $secondary-turquoise !important;
    }
}

.blue-border {
    .bf-holder {
        border-top: 4px solid $secondary-blue !important;
    }
}

.darkblue-border {
    .bf-holder {
        border-top: 4px solid $primary-blue !important;
    }
}

// Sub Services Block
.decorative-border {
    border-top: 1px solid $sub-services-border;
}

.sub-services {
    .decorative-holder {
        img {
            top: -11.5rem;
        }
    }
}

.sub-service-items {

    .sub-services-item {
        border-right: 0.7rem solid white;
        h3 {
            @apply mb-0;
            font-size: $learn-more;
            color: $primary-blue;
        }
        p {
            font-size: $standard-size;
            font-family: $primary-light;
            color: #333333;
            font-weight: 300;
            line-height: 1.5;
            padding-bottom: 2.5rem;
            @media(min-width: 1100px) {
                width: 100%;
                max-width: 84%;
            }
        }
    }

    .sub-services-item.empty-service {
        pointer-events: none;

        h3 {
            visibility: hidden;
        }

        .sub-services-content {
            display: none;
        }
    }
}

.single-group {
    margin-top: 2rem;
    padding-top: 1rem;

    p {
        font-size: 1rem;
        font-family: $primary-light;
    }

    strong {
        padding-top: 1rem;
        color: $primary-blue;
        font-weight: 500 !important;
        font-size: 18px;
    }

    ul {
        font-size: 1rem;
        font-family: $primary-light;
        list-style-type: disc;
        padding-left: 1rem;
    }
}

.about-bottom-content {
    .content-holder {
        img {
            bottom: 0 !important;
        }
        img.pos-right {
            left: unset;
            right: 0;
        }        
    }
}