body{
  font-family: $primary-regular;
  font-size: 20px;
  color: $shade-1;
  i{
    b, strong{
      font-family: $primary-regular;
		font-weight: bold;
    }
  }
  b, strong{
    font-family: $primary-regular;
	  font-weight: bold;
  }
}

p, span, blockquote, ul, ol, li{
}

h1, h2, h3, h4, h5, h6,legend{
  font-family: $primary-regular;
  margin-bottom: 20px;
}

h1 {
  @apply text-6xl;
}

h2 {
  font-size: 3.5rem;
}

h3,
legend {
  font-size: 2rem;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

a:link, a:visited, a:hover{
  text-decoration: none;
  color: $shade-1;
}
a:hover{
  color: $primary-blue;
}

p{
  line-height: 120%;
  margin-bottom: 20px;
}

.no-margin{
  margin: 0px !important;
}