.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.w-bg-img{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1000px) {
 // Services and about page cards arrow animation

// normal state
.service-content-grid {
    a.service-content-item:nth-child(3n + 1) {
      .colored-section {
        img.service-arrow {
          transition: top .4s ease;
        }
        span {
          position: absolute;
          width: 300px;
          height: 60px;
          display: block;
          top: 14rem;

          // &::before {
          //   content: '';
          //   background-image: url('../images/white-down-fill.svg');
          //   background-repeat: no-repeat;
          //   background-size: contain;
          //   height: 24px;
          //   width: 27px;
          //   position: absolute;
          //   top: 2px;
          //   opacity: 0;
          //   transition: top .4s ease;
          // }
        }
      }
    }
}

// hover state
.service-content-grid {
  a.service-content-item:nth-child(3n + 1) {
      &:hover {
        .colored-section {
          span {
            img.service-arrow {
              top: 17px;
              transition: top .4s ease;
            }
            // &::before {
            //   content: '';
            //   background-image: url('../images/white-down-fill.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 24px;
            //   width: 27px;
            //   position: absolute;
            //   top: 35px;
            //   opacity: 1;
            //   transition: top .4s ease;
            // }
          }
        }
      }
  }
}

// normal state
.service-content-grid {
  a:nth-child(n+2):nth-child(-n+3) {
    .service-content-item {
      .colored-section {
        img.service-arrow {
          transition: top .4s ease;
        }
        span {
          position: absolute;
          width: 300px;
          height: 60px;
          display: block;
          top: 12rem;

          // &::before {
          //   content: '';
          //   background-image: url('../images/blue-fill-down.svg');
          //   background-repeat: no-repeat;
          //   background-size: contain;
          //   height: 24px;
          //   width: 27px;
          //   position: absolute;
          //   top: 2px;
          //   opacity: 0;
          //   transition: top .4s ease;
          // }
        }
      }
    }
  }
}

// hover state
.service-content-grid {
  a:nth-child(n+2):nth-child(-n+3) {
    .service-content-item {
      &:hover {
        .colored-section {
          span {
            img.service-arrow {
              top: 50px;
              transition: top .4s ease;
            }
            // &::before {
            //   content: '';
            //   background-image: url('../images/blue-fill-down.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 24px;
            //   width: 27px;
            //   position: absolute;
            //   top: 35px;
            //   opacity: 1;
            //   transition: top .4s ease, opacity .4s ease;
            // }
          }
        }
      }
    }
  }
}

// Home services menu items animation
.home {
  // normal state for first item
  .service-grid {
      .service-item:nth-child(1) {
      a.service-link {
        .color-section {
          img.service-arrow {
            bottom: 5px;
            left: 30px;
            opacity: 1;
            transition: all .4s ease, opacity .4s ease;
          }
          span {
            position: absolute;
            width: 160px;
            height: 36px;
            display: block;
            bottom: 31px;
            left: 2px;
            overflow: hidden;

            // &::before {
            //   content: '';
            //   background-image: url('../images/white-hover-right.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 26px;
            //   width: 27px;
            //   position: absolute;
            //   top: 6px;
            //   left: 0px;
            //   opacity: 0;
            //   transition: left .4s ease, opacity .4s ease;
            // }
          }
        }
      }
    }
  }

  // hover state for first item
  .service-grid {
    .service-item:nth-child(1) {
      a.service-link {
        .color-section {
          &:hover {
            span {
              img.service-arrow {
                left: 40px;
                transition: left .4s ease;
              }

              // &::before {
              //   content: '';
              //   background-image: url('../images/white-hover-right.svg');
              //   background-repeat: no-repeat;
              //   background-size: contain;
              //   height: 26px;
              //   width: 27px;
              //   position: absolute;
              //   top: 6px;
              //   left: 31px;
              //   opacity: 1;
              //   transition: left .4s ease, opacity .4s ease;
              // }
            }
          }
        }
      }
    }
  }

  // normal state second item
  .service-grid {
    .service-item:nth-child(2) {
      a.service-link {
        .color-section {
          img.service-arrow {
            bottom: 5px;
            left: 30px;
            opacity: 1;
            transition: all .4s ease, opacity .4s ease;
          }
          span {
            position: absolute;
            width: 160px;
            height: 36px;
            display: block;
            bottom: 31px;
            left: 2px;
            overflow: hidden;

            // &::before {
            //   content: '';
            //   background-image: url('../images/blue-hover-right.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 26px;
            //   width: 27px;
            //   position: absolute;
            //   top: 6px;
            //   left: 0px;
            //   opacity: 0;
            //   transition: left .4s ease, opacity .4s ease;
            // }
          }
        }
      }
    }
  }

  // hover state for second item
  .service-grid {
    .service-item:nth-child(2) {
      a.service-link {
        .color-section {
          &:hover {
            span {
              img.service-arrow {
                left: 40px;
                transition: left .4s ease;
              }

              // &::before {
              //   content: '';
              //   background-image: url('../images/blue-hover-right.svg');
              //   background-repeat: no-repeat;
              //   background-size: contain;
              //   height: 26px;
              //   width: 27px;
              //   position: absolute;
              //   top: 6px;
              //   left: 31px;
              //   opacity: 1;
              //   transition: left .4s ease, opacity .4s ease;
              // }
            }
          }
        }
      }
    }
  }

  // normal state third item
  .service-grid {
    .service-item:nth-child(3) {
      a.service-link {
        .color-section {
          img.service-arrow {
            bottom: 5px;
            left: -1px;
            opacity: 1;
            transition: all .4s ease, opacity .4s ease;
          }
          span {
            position: absolute;
            width: 160px;
            height: 36px;
            display: block;
            bottom: 31px;

            // &::after {
            //   content: '';
            //   background-image: url('../images/hover-left-blue.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 26px;
            //   width: 27px;
            //   position: absolute;
            //   top: 6px;
            //   left: 31px;
            //   opacity: 0;
            //   transition: left .4s ease, opacity .4s ease;
            // }
          }
        }
      }
    }
  }

  // hover state for third item
  .service-grid {
    .service-item:nth-child(3) {
      a.service-link {
        .color-section {
          &:hover {
            span {
              img.service-arrow {
                left: -12px;
                transition: left .4s ease;
              }

              // &::after {
              //   content: '';
              //   background-image: url('../images/hover-left-blue.svg');
              //   background-repeat: no-repeat;
              //   background-size: contain;
              //   height: 26px;
              //   width: 27px;
              //   position: absolute;
              //   top: 6px;
              //   left: 0;
              //   opacity: 1;
              //   transition: left .4s ease, opacity .4s ease;
              // }
            }
          }
        }
      }
    }
  }

  // normal state fourth item
  .service-grid {
    .service-item:nth-child(4) {
      a.service-link {
        .color-section {
          img.service-arrow {
            bottom: 5px;
            left: -1px;
            opacity: 1;
            transition: all .4s ease, opacity .4s ease;
          }
          span {
            position: absolute;
            width: 160px;
            height: 36px;
            display: block;
            bottom: 31px;

            // &::after {
            //   content: '';
            //   background-image: url('../images/hover-left-white.svg');
            //   background-repeat: no-repeat;
            //   background-size: contain;
            //   height: 26px;
            //   width: 27px;
            //   position: absolute;
            //   top: 6px;
            //   left: 31px;
            //   opacity: 0;
            //   transition: left .4s ease, opacity .4s ease;
            // }
          }
        }
      }
    }
  }

  // hover state for fourth item
  .service-grid {
    .service-item:nth-child(4) {
      a.service-link {
        .color-section {
          &:hover {
            span {
              img.service-arrow {
                left: -12px;
                transition: left .4s ease;
              }

              // &::after {
              //   content: '';
              //   background-image: url('../images/hover-left-white.svg');
              //   background-repeat: no-repeat;
              //   background-size: contain;
              //   height: 26px;
              //   width: 27px;
              //   position: absolute;
              //   top: 6px;
              //   left: 0;
              //   opacity: 1;
              //   transition: left .4s ease, opacity .4s ease;
              // }
            }
          }
        }
      }
    }
  }
} 
}

// image slice reveal
.reveal {
  .box{
    transform: translateX(0);
 }
 
 .scroll-img {
    transform: translateX(0);
 }
}

.box {
  overflow: hidden;
  transition: transform 1.6s ease;
}

.scroll-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 1.6s ease;
  transform: translateX(-100%);
}

.cover {
  position: absolute;
}

.cover {
  width: 100%;
  height: 100%;
  background: black;
}


.our_services-template-single-our-services {
  .sub-services-item {
    transition: transform .5s ease;
    &:hover a .image-section img {
      transform: scale(1.2);
    }

    .image-section {
      overflow: hidden;
    }

    .image-section img{
      transition: transform .5s ease;
    }
  }
}

.to-fade-in {
  opacity: 0;
  transform: translateY(5px);
  transition: all 1s ease
}
.faded-in {
  transform: translateY(0px);
  opacity: 1;
}

.image-zoom {
  overflow: hidden;
}

.image-zoom img {
  transition: transform .5s ease;
}

.image-zoom:hover img {
  transform: scale(1.2);
}

.color-section {
  &:hover + .image-zoom img {
    transform: scale(1.2);
  }
}

.image-container img {
  transition: transform .5s ease;
}

.service-content-grid {
  @media(min-width: 1200px) {
    .image-container {
      overflow: hidden !important;
      display: block;
      height: 75%;
    }
    .image-container img {
      max-width: 100%;
      transition: transform .5s ease;
    }
    .absolute-holder {
      position: relative;
      height: 291px;
      width: 100%;
      display: block;
      overflow: hidden;
      margin-top: auto;
    }  
  }

  .service-content-item {
    overflow: hidden;

    &:hover .image-container img {
      transform: scale(1.2);
    }
  }
   
  .image-container:hover img {
    transform: scale(1.2);
  }
}

.zoom-bg {
  overflow: hidden;
  transition: transform .5s ease;
  width: 273px;
}

.cover-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.zoom-bg:hover .cover-image,
.zoom-bg:focus .cover-image {
  transform: scale(1.2);
}

a .zoom-bg:hover .cover-image,
a .zoom-bg:focus .cover-image {
  transform: scale(1.2);
}

.bigger-zoom {
  overflow: hidden;
  transition: transform .5s ease;
}

.bigger-cover {
  height: 100%;
  transition: all .5s;
}

.featured-content{
  &:hover + .bigger-zoom .bigger-cover {
    transform: scale(1.2);
  }
}

.post-link-holder {
  &:hover + .zoom-bg a .cover-image {
    transform: scale(1.2);
  }
}

.bigger-zoom:hover .bigger-cover,
.bigger-zoom:focus .bigger-cover {
  transform: scale(1.2);
}

.arrow-effect {
  &:hover {
    path {
      transition: all 0.5s ease;
      fill: #031d51;
    }
  }
}



