/**
 * Variables
 */
$primary-light: 'BuenosAires-Light', sans-serif;
$primary-regular: 'BuenosAires-Regular', sans-serif;
$primary-bold: 'BuenosAires-Bold', sans-serif;

$shade-1: rgba(0, 0, 0,1);
$shade-2: rgba(255,255,255,1);
$shade-3: rgba(225, 225, 225,1);
$shade-4: rgba(50, 50, 50, 1);
$shade-5: rgba(240, 240, 240,1);
$shade-6: rgba(248, 248, 248,1);

$primary-blue: #031D51;
$secondary-blue: #28328E;
$secondary-purple: #7E58AF;
$secondary-turquoise: #4CCEDE;
$secondary-lightblue: #B8D9F2;
$tints-blue: #EAF4FC;
$tints-grey: #FAF9F6;
$border-color: #e0e0e0;
$sub-services-border: #f2f2f2;
$video-bg: #C9DFF4;
$form-not-valid: #eb5757;

// Headings
$standard-line-height: 1.5;
$heading-1: 3.5rem;
$services-heading: 3rem;
$blog-heading: 3rem;
$services-text: 1.125rem;
$standard-size: 1rem;
$learn-more: 1.125rem;
$top-menu-font-size: 1.125rem;
$sub-menu-size: 1rem;
$second-level-size: 0.875rem;
$news-featured: 2rem;